<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav sidebar-brand-wrapper hidden-xs">
        <li class="navbar-height sidebar-brand ">
            SIDEBAR-BRAND
        </li>
    </ul>
    <ul class="sidebar-nav sidebar-sections">
        <li>
            <a href="#">What I like to do
            </a>
        </li>
        <li>
            <a href="#">Who I am
            </a>
        </li>
        <li>
            <a href="#">What I´ve done / Github</a>
        </li>
        <li>
            <a href="#">What I´ve learnt / CV</a>
        </li>
        <li>
            <a href="#">Status</a>
        </li>
    </ul>
</div>
<!-- /#sidebar-wrapper -->
