<!-- Navigation -->
<nav ng-controller="NavController" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
               Daniboomerang
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
                <li>
                    <a href="#">What I like to do</a>
                </li>
                <li>
                    <a href="#">Who I am</a>
                </li>
                <li>
                    <a href="#">What I´ve done / Github</a>
                </li>
                <li>
                    <a href="#">What I´ve learnt / CV</a>
                </li>
                <li>
                    <a href="#">Status</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
