<nav ng-controller="NavController" class="navbar navbar-default navbar-fixed-top custom-navbar navbar-preheader" role="navigation">
    <div class="container-fluid">
         <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="toggleMenu()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span>
                 <a class="navbar-brand visible-xs" ><img src="/images/boomerang-48.png" alt=""></a>
                 <a class="navbar-center navbar-brand"> {{currentSection}} </a>
            </span>
        </div>      
    </div>
    <!-- /.container -->
</nav>

