<!-- Sidebar -->
<div ng-controller="SidebarCtrl" id="sidebar-wrapper" class="hidden-xs">
    <ul class="sidebar-nav sidebar-brand-wrapper hidden-xs">
        <li class="navbar-height sidebar-brand"><img src="/images/boomerang-bluesky-62-41-rotated.svg" alt=""></li>
    </ul>
    <ul class="sidebar-nav sidebar-sections">
        <li ng-repeat="section in sidebar.sections" ng-class="{'active-sidebar-link': activeSection == section.sectionAcronym}">
            <a href="#{{section.sectionURL}}">{{section.section}}&nbsp;&nbsp;&nbsp;&nbsp;<img src={{section.sectionImg}} alt=""></a>
        </li>
    </ul>
</div>
<!-- /#sidebar-wrapper -->