/*********************/
/* ANIMATION CLASSES */
/*********************/

.spin-right-half { -webkit-animation-name: spin-right-half; -webkit-animation-duration: 40000ms; -webkit-animation-iteration-count: infinite; -webkit-animation-timing-function: linear; -moz-animation-name: spin-right-half; -moz-animation-duration: 40000ms; -moz-animation-iteration-count: infinite; -moz-animation-timing-function: linear; -ms-animation-name: spin-right-half; -ms-animation-duration: 40000ms; -ms-animation-iteration-count: infinite; -ms-animation-timing-function: linear; }
.spin-right-half-faster { -webkit-animation-name: spin-right-half; -webkit-animation-duration: 8000ms; -webkit-animation-iteration-count: infinite; -webkit-animation-timing-function: linear; -moz-animation-name: spin-right-half; -moz-animation-duration: 8000ms; -moz-animation-iteration-count: infinite; -moz-animation-timing-function: linear; -ms-animation-name: spin-right-half; -ms-animation-duration: 8000ms; -ms-animation-iteration-count: infinite; -ms-animation-timing-function: linear; }
.spin-right-whole { -webkit-animation-name: spin-right-whole; -webkit-animation-duration: 60000ms; -webkit-animation-iteration-count: infinite; -webkit-animation-timing-function: linear; -moz-animation-name: spin-right-whole; -moz-animation-duration: 60000ms; -moz-animation-iteration-count: infinite; -moz-animation-timing-function: linear; -ms-animation-name: spin-right-whole; -ms-animation-duration: 60000ms; -ms-animation-iteration-count: infinite; -ms-animation-timing-function: linear; }
.spin-right-whole-faster { -webkit-animation-name: spin-right-whole; -webkit-animation-duration: 20000ms; -webkit-animation-iteration-count: infinite; -webkit-animation-timing-function: linear; -moz-animation-name: spin-right-whole; -moz-animation-duration: 20000ms; -moz-animation-iteration-count: infinite; -moz-animation-timing-function: linear; -ms-animation-name: spin-right-whole; -ms-animation-duration: 20000ms; -ms-animation-iteration-count: infinite; -ms-animation-timing-function: linear; }
.spin-right-whole-fastest { -webkit-animation-name: spin-right-whole; -webkit-animation-duration: 5000ms; -webkit-animation-iteration-count: infinite; -webkit-animation-timing-function: linear; -moz-animation-name: spin-right-whole; -moz-animation-duration: 5000ms; -moz-animation-iteration-count: infinite; -moz-animation-timing-function: linear; -ms-animation-name: spin-right-whole; -ms-animation-duration: 5000ms; -ms-animation-iteration-count: infinite; -ms-animation-timing-function: linear; }
.spin-right-whole-slower { -webkit-animation-name: spin-right-whole; -webkit-animation-duration: 90000ms; -webkit-animation-iteration-count: infinite; -webkit-animation-timing-function: linear; -moz-animation-name: spin-right-whole; -moz-animation-duration: 90000ms; -moz-animation-iteration-count: infinite; -moz-animation-timing-function: linear; -ms-animation-name: spin-right-whole; -ms-animation-duration: 90000ms; -ms-animation-iteration-count: infinite; -ms-animation-timing-function: linear; }
.spin-left-half { -webkit-animation-name: spin-left-half; -webkit-animation-duration: 12000ms; -webkit-animation-iteration-count: infinite; -webkit-animation-timing-function: linear; -moz-animation-name: spin-left-half; -moz-animation-duration: 12000ms; -moz-animation-iteration-count: infinite; -moz-animation-timing-function: linear; -ms-animation-name: spin-left-half; -ms-animation-duration: 12000ms; -ms-animation-iteration-count: infinite; -ms-animation-timing-function: linear; }
.spin-left-whole { -webkit-animation-name: spin-left-whole; -webkit-animation-duration: 10000ms; -webkit-animation-iteration-count: infinite; -webkit-animation-timing-function: linear; -moz-animation-name: spin-left-whole; -moz-animation-duration: 10000ms; -moz-animation-iteration-count: infinite; -moz-animation-timing-function: linear; -ms-animation-name: spin-left-whole; -ms-animation-duration: 10000ms; -ms-animation-iteration-count: infinite; -ms-animation-timing-function: linear; }
.spin-left-half-faster { -webkit-animation-name: spin-left-half; -webkit-animation-duration: 8000ms; -webkit-animation-iteration-count: infinite; -webkit-animation-timing-function: linear; -moz-animation-name: spin-left-half; -moz-animation-duration: 8000ms; -moz-animation-iteration-count: infinite; -moz-animation-timing-function: linear; -ms-animation-name: spin-left-half; -ms-animation-duration: 8000ms; -ms-animation-iteration-count: infinite; -ms-animation-timing-function: linear; }
.spin-boomerang { -webkit-animation-name: spin-right-whole; -webkit-animation-duration: 14000ms; -webkit-animation-iteration-count: infinite; -webkit-animation-timing-function: linear; -moz-animation-name: spin-right-whole; -moz-animation-duration: 14000ms; -moz-animation-iteration-count: infinite; -moz-animation-timing-function: linear; -ms-animation-name: spin-right-whole; -ms-animation-duration: 14000ms; -ms-animation-iteration-count: infinite; -ms-animation-timing-function: linear; }
.move-from-left { -webkit-animation: move-from-left 156s infinite; -moz-animation: move-from-left 156s infinite; -o-animation: move-from-left 156s infinite; }
.pulsing { -webkit-animation: pulse 2s linear infinite; animation: pulse 2s linear infinite; -moz-animation: pulse 2s linear infinite; -o-animation: pulse 2s linear infinite; }
.soft-suspension { -webkit-animation: soft-suspension 5s linear infinite; animation: soft-suspension 5s linear infinite; -moz-animation: soft-suspension 5s linear infinite; -o-animation: soft-suspension 5s linear infinite; }

/*************************/
/* ANIMATION DEFINITIONS */
/*************************/

/* SPINING */

@keyframes spin-right-half {
  from { transform:rotateZ(-25deg); -ms-transform:rotateZ(-25deg); /* IE 9 */ -moz-transform:rotateZ(-25deg); /* Firefox */ -webkit-transform:rotateZ(-25deg); /* Safari and Chrome */ -o-transform:rotateZ(-25deg); /* Opera */ }
  to { transform:rotateZ(65deg); -ms-transform:rotateZ(65deg); /* IE 9 */ -moz-transform:rotateZ(65deg); /* Firefox */ -o-transform:rotateZ(65deg); /* Opera */-webkit-transform:rotateZ(65deg); }
}

@keyframes spin-right-whole {
  from { transform:rotateZ(0deg); -ms-transform:rotateZ(0deg); /* IE 9 */ -moz-transform:rotateZ(0deg); /* Firefox */ -webkit-transform:rotateZ(0deg); /* Safari and Chrome */ -o-transform:rotateZ(0deg); /* Opera */ }
  to { transform:rotateZ(360deg); -ms-transform:rotateZ(360deg); /* IE 9 */ -moz-transform:rotateZ(360deg); /* Firefox */ -o-transform:rotateZ(360deg); /* Opera */-webkit-transform:rotateZ(360deg); }
}

@keyframes spin-left-whole {
  from { transform:rotateZ(0deg); -ms-transform:rotateZ(0deg); /* IE 9 */ -moz-transform:rotateZ(0deg); /* Firefox */ -webkit-transform:rotateZ(0deg); /* Safari and Chrome */ -o-transform:rotateZ(0deg); /* Opera */ }
  to { transform:rotateZ(-360deg); -ms-transform:rotateZ(-360deg); /* IE 9 */ -moz-transform:rotateZ(-360deg); /* Firefox */ -o-transform:rotateZ(-360deg); /* Opera */-webkit-transform:rotateZ(-360deg); }
}

@keyframes spin-left-half {
  from { transform:rotateZ(25deg); -ms-transform:rotateZ(25deg); /* IE 9 */ -moz-transform:rotateZ(25deg); /* Firefox */ -webkit-transform:rotateZ(25deg); /* Safari and Chrome */ -o-transform:rotateZ(25deg); /* Opera */ }
  to { transform:rotateZ(-65deg); -ms-transform:rotateZ(-65deg); /* IE 9 */ -moz-transform:rotateZ(-65deg); /* Firefox */ -o-transform:rotateZ(-65deg); /* Opera */-webkit-transform:rotateZ(-65deg); }
}

@-webkit-keyframes spin-right-half {
  from { transform:rotateZ(-25deg); -ms-transform:rotateZ(-25deg); /* IE 9 */ -moz-transform:rotateZ(-25deg); /* Firefox */ -webkit-transform:rotateZ(-25deg); /* Safari and Chrome */ -o-transform:rotateZ(-25deg); /* Opera */ }
  to { transform:rotateZ(65deg); -ms-transform:rotateZ(65deg); /* IE 9 */ -moz-transform:rotateZ(65deg); /* Firefox */ -o-transform:rotateZ(65deg); /* Opera */-webkit-transform:rotateZ(65deg); }
}

@-webkit-keyframes spin-right-whole {
  from { transform:rotateZ(0deg); -ms-transform:rotateZ(0deg); /* IE 9 */ -moz-transform:rotateZ(0deg); /* Firefox */ -webkit-transform:rotateZ(0deg); /* Safari and Chrome */ -o-transform:rotateZ(0deg); /* Opera */ }
  to { transform:rotateZ(360deg); -ms-transform:rotateZ(360deg); /* IE 9 */ -moz-transform:rotateZ(360deg); /* Firefox */ -o-transform:rotateZ(360deg); /* Opera */-webkit-transform:rotateZ(360deg); }
}

@-webkit-keyframes spin-left-whole {
  from { transform:rotateZ(0deg); -ms-transform:rotateZ(0deg); /* IE 9 */ -moz-transform:rotateZ(0deg); /* Firefox */ -webkit-transform:rotateZ(0deg); /* Safari and Chrome */ -o-transform:rotateZ(0deg); /* Opera */ }
  to { transform:rotateZ(-360deg); -ms-transform:rotateZ(-360deg); /* IE 9 */ -moz-transform:rotateZ(-360deg); /* Firefox */ -o-transform:rotateZ(-360deg); /* Opera */-webkit-transform:rotateZ(-360deg); }
}

@-webkit-keyframes spin-left-half {
  from { transform:rotateZ(25deg); -ms-transform:rotateZ(25deg); /* IE 9 */ -moz-transform:rotateZ(25deg); /* Firefox */ -webkit-transform:rotateZ(25deg); /* Safari and Chrome */ -o-transform:rotateZ(25deg); /* Opera */ }
  to { transform:rotateZ(-65deg); -ms-transform:rotateZ(-65deg); /* IE 9 */ -moz-transform:rotateZ(-65deg); /* Firefox */ -o-transform:rotateZ(-65deg); /* Opera */-webkit-transform:rotateZ(-65deg); }
}

/* HORIZONTAL MOVEMENT */

@-webkit-keyframes move-from-left {
  0% { margin-left: -550vh; }
  100% { margin-left: 550vh; }
}
@-moz-keyframes move-from-left {
  0% { margin-left: -550vh; }
  100% { margin-left: 550vh; }
}
@-o-keyframes move-from-left {
  0% { margin-left: -550vh; }
  100% { margin-left: 550vh; }
}

@-webkit-keyframes move-from-right {
  0% { margin-left: 550vh; }
  100% { margin-left: -550vh; }
}
@-moz-keyframes move-from-right {
  0% { margin-left: 550vh; }
  100% { margin-left: -550vh; }
}
@-o-keyframes move-from-right {
  0% { margin-left: 550vh; }
  100% { margin-left: -550vh; }
}

/* PULSE */

@-webkit-keyframes pulse {
  0% { -webkit-transform: scale(1.1); -ms-transform: scale(1.1); -moz-transform: scale(1.1);  -o-transform:scale(1.1); transform: scale(1.1); }
  50% { -webkit-transform: scale(0.8); -ms-transform: scale(0.8); -moz-transform: scale(0.8); -o-transform:scale(0.8); transform: scale(0.8); }
  100% { -webkit-transform: scale(1.1); -ms-transform: scale(1.1); -moz-transform: scale(1.1); -o-transform:scale(1.1); transform: scale(1.1); }
}
@keyframes pulse {
  0% { -webkit-transform: scale(1.1); -ms-transform: scale(1.1); -moz-transform: scale(1.1);  -o-transform:scale(1.1); transform: scale(1.1); }
  50% { -webkit-transform: scale(0.8); -ms-transform: scale(0.8); -moz-transform: scale(0.8); -o-transform:scale(0.8); transform: scale(0.8); }
  100% { -webkit-transform: scale(1.1); -ms-transform: scale(1.1); -moz-transform: scale(1.1); -o-transform:scale(1.1); transform: scale(1.1); }
}

/* SOFT SUSPENSION */

@-webkit-keyframes soft-suspension {
    from {-webkit-transform: translate(13vh, 3vh); -ms-transform: translate(13vh, 3vh); -o-transform: translate(13vh, 3vh); -moz-transform: translate(13vh, 3vh); } 
    50% {-webkit-transform: translate(13vh, 4vh); -ms-transform: translate(13vh, 4vh); -o-transform: translate(13vh, 4vh); -moz-transform: translate(13vh, 4vh); } 
    to {-webkit-transform: translate(13vh, 3vh); -ms-transform: translate(13vh, 3vh); -o-transform: translate(13vh, 3vh); -moz-transform: translate(13vh, 3vh); }
}

@keyframes soft-suspension {
    from {-webkit-transform:translate(13vh, 3vh); -ms-transform: translate(13vh, 3vh); -o-transform: translate(13vh, 3vh); -moz-transform: translate(13vh, 3vh); } 
    50% {-webkit-transform:translate(13vh, 4vh); -ms-transform: translate(13vh, 4vh); -o-transform: translate(13vh, 4vh); -moz-transform: translate(13vh, 4vh); } 
    to {-webkit-transform: translate(13vh, 3vh); -ms-transform: translate(13vh, 3vh); -o-transform: translate(13vh, 3vh); -moz-transform: translate(13vh, 3vh); }
}