/***********/
/* CONTACT */
/***********/

#contact { height: 100vh; max-height: 100vh; padding-top: 8vh; }
.contact-row { text-align: center; width: 100%; margin-top: 8vh; }

/* ARROW */
#scroll-up { font-size: 0.8em;  }

/* SOCIAL */
#social { width: 100%; }
.social-button { display: inline-block; position: relative; }

/* CONTACT-INFO */
#contact-info { color: rgba(255,153,51,0.5) !important; font-size: 1.2em; }

/* ET-SCENE */
#et-scene-wrapper { width: 100%; /*border: solid red*/;}
#et-scene { display: table; margin: 0 auto; /*border: solid red;*/ }

/* BUTTON WRAPPER */
#linkedin-button-wrapper { width: 3em; height: 3em; }
#phone-button-wrapper { width: 3em; height: 3em; }
#mail-button-wrapper { width: 3em; height: 3em; }

/*========== RESPONSIVENESS ==========*/

/* Extra small Devices, (phones, 200px and up) */
@media (min-width: 200px) { #et-scene-wrapper { height:35%; }
                            #scroll-up { }
                            #social { }
                            .social-button { margin-left: 4.25%; margin-right: 4.25%;}
                            #contact-info { }
                            #et-scene { width: 80%; } }

/* Extra small Devices, (phones, 320px and up) */
@media (min-width: 320px) { }

/* Extra small Devices, (phones, 200px and up) */
@media (min-width: 500px) { #et-scene-wrapper { height:38%; }
                            #scroll-up { }
                            #social { }
                            .social-button { margin-left: 3.25%; margin-right: 3.25%;}
                            #contact-info { }
                            #et-scene { } }

/* Extra small Devices, (phones, 640px and up) */
@media (min-width: 640px) { #et-scene-wrapper { height:40%; }
                            #scroll-up { }
                            #social { }
                            .social-button { margin-left: 2.75%; margin-right: 2.75%;}
                            #contact-info { }
                            #et-scene { } }

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { #et-scene-wrapper { height:42%; width: 80%; margin-left: 10%; }
                            #scroll-up { }
                            #social { }
                            #contact-info { }
                            #et-scene { } }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { #et-scene-wrapper { height:45%; width: 70%; margin-left: 15%; }
                            #social { } 
                            #scroll-up { }
                            #contact-info { } }

/* Medium devices (desktops, 1024px and up) */
@media (min-width: 1024px) { #et-scene-wrapper { height:45%; }
                             #social { }
                             .social-button { margin-left: 1.75%; margin-right: 1.75%;}
                             #scroll-up { }
                             #contact-info { }
                             #et-scene { } }

/* Large devices (large desktops, 1280px and up) */
@media (min-width: 1280px) { #et-scene-wrapper { } }

/* Large devices (large desktops, 1600px and up) */
@media (min-width: 1600px) { #et-scene-wrapper {  } }

/* Extra large devices (extra large desktops, 2000 and up) */
@media (min-width: 2000px) { }
                              
/* Extra large devices (extra large desktops, 2500 and up) */
@media (min-width: 2500px) { }
                              
/* Extra large devices (extra large desktops, 3000 and up) */
@media (min-width: 3000px) { }
                              
/* Extra large devices (extra large desktops, 3500 and up) */
@media (min-width: 3500px) { }
                              