/************/
/* SECTIONS */
/************/

/* WHO I AM */

#who-i-am {
	background: white;
	padding-top: 50px;
	padding-bottom: 100px;
}

/***********/
/* CONTENT */
/***********/

#content{
	height: 100%;
}

.dboom-section{
	padding:20px;
	border-bottom: #F2F2F2 2px solid;
}

/************/
/* PARALLAX */
/************/

.parallax-image-section{
	height:1200px;
}

/* DESK PARALLAX BACKGROUND */
.desk-parallax-background {
	background: url(/images/cover/deskCut.svg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	position: relative;
}   