/***********/
/* CONTENT */
/***********/

#sections{ height: 100%; }

.dboom-section{ /*-webkit-box-shadow: 0 0 2px 2px #000000; box-shadow: 0 0 2px 2px #000000; */}

/************/
/* SECTIONS */
/************/

/* WHO I AM */

#who-i-am { }

/************/
/* PARALLAX */
/************/

.parallax-image-section{ height:100%;}

/* BOOKSHELL PARALLAX BACKGROUND */
.bookshell-parallax-background {
	background: url(/images/deskCut.svg) ; 
	background-repeat: no-repeat;
	 -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover; 
 }   

/* DESK PARALLAX BACKGROUND */
.desk-parallax-background {
	background: url(/images/deskCut.svg); 
	background-repeat: no-repeat;
	-webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover; 
}

/* FLAT PARALLAX BACKGROUND */
.floor-parallax-background {
	background: url(/images/deskCut.svg); 
	background-repeat: no-repeat;
	-webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover; 
}    


/*==========  RESPONSIVENESS  ==========*/

/* Small devices (tablets, 767px and down)*/
@media (min-width: 200px) {.dboom-section{ padding-top:35%; }

/* Extra small Devices, (phones, 320 and up) */
@media (min-width: 320px) {.dboom-section{ padding-top:32%; }

/* Extra small Devices, (phones, 480px and up) */
@media (min-width: 500px) {.dboom-section{ padding-top:22%; }

/*////////////////////////////////////*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {.dboom-section{ padding-top:20%; }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {.dboom-section{ padding-top:15%; }

/* Large devices (large desktops, 1280px and up) */
@media (min-width: 1280px) {.dboom-section{ padding-top:13%; }

/* Large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) {.dboom-section{ padding-top:13%; }

/*////////////////////////////////////*/

/* Extra large devices (extra large desktops, 1600px and up) */
@media (min-width: 1600px) {.dboom-section{ padding-top:10%; }

/* Extra large devices (extra large desktops, 2000px and up) */
@media (min-width: 2000px) {.dboom-section{ padding-top:10%; }

/* Extra large devices (extra large desktops, 2000px and up) */
@media (min-width: 2500px) {.dboom-section{ padding-top:10%; }

/* Extra large devices (extra large desktops, 2000px and up) */
@media (min-width: 3000px) {.dboom-section{ padding-top:10%; }

/* Extra large devices (extra large desktops, 2000px and up) */
@media (min-width: 3500px) { .dboom-section{ padding-top:10%; }
