#cover{ padding-top: 5%; height: 125%; color: white; }
#cover-content{ text-align: center;}
#moon-and-boom{ margin-left: 10%; margin-bottom: 10%;}

.cover-content-row { margin-top: 2%; margin-bottom: 2%;}
.cover-text .name {display: block; font-weight: 500; font-size: 1.2em}
.cover-text .skills {text-transform: uppercase; font-weight: 200; font-size: 1.4em}
.cover-text .share {font-weight: 100; font-size: 1em}

 .stars-parallax-background {  background: url(/images/landscapeStars-768x2250.png); background-size: cover; }

/* Medium devices (desktops, 200px and up) */
@media (min-width: 200px) { #moon-and-boom{font-size: 15px;} }

/* Medium devices (desktops, 320px and up) */
@media (min-width: 320px) { #moon-and-boom{font-size: 30px;} }

/* Medium devices (desktops, 500px and up) */
@media (min-width: 500px) { #moon-and-boom{font-size: 45px;} }

/* Medium devices (desktops, 768px and up) */
@media (min-width: 768px) { #moon-and-boom{font-size: 50px;} }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { #moon-and-boom{font-size: 55px;} }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 1280px) { #moon-and-boom{font-size: 60px;} }

/* Large devices (large desktops, 1600px and up) */
@media (min-width: 1600px) { #moon-and-boom{font-size: 75px;} }

/* Extra large devices (extra large desktops, 2000 and up) */
@media (min-width: 2000px) { #moon-and-boom{font-size: 90px;} }

/* Extra large devices (extra large desktops, 3000 and up) */
@media (min-width: 3000px) { #moon-and-boom{font-size: 100px;} }

/* Extra large devices (extra large desktops, 3500 and up) */
@media (min-width: 3000px) { #moon-and-boom{font-size: 130px;} }
