/*********/
/* COVER */
/*********/

#cover { color: white; }
#cover-content { text-align: center; margin-top: 5%; }
#scroll-right-arrow { font-weight: lighter; -webkit-font-smoothing: antialiased; font-size: 0.5em; }
#scroll-down { font-weight: lighter; -webkit-font-smoothing: antialiased; font-size: 0.8em; margin-bottom: 2vh;}

.cover-content-row { line-height: 1.5; }
.cover-text .name { display: block; font-size: 1.2em; }
.cover-text .skills { display: block; text-transform: uppercase; font-weight: lighter; font-size: 1.4em; }

@media all and (orientation:portrait) { #cover { padding-top: 15%; } .scroll-down { margin-top: 8%; }}
@media all and (orientation:landscape) { #cover { padding-top: 5%; } .scroll-down { margin-top: 3%; }}
@media (min-width: 200px) and (orientation:landscape) { #cover { height: 120%; } }
@media (min-width: 200px) and (orientation:portrait) { #cover { height: 120%; padding-top: 25vh; } }
@media (min-width: 500px) { #cover { height: 120%; padding-top: 25%; } }
@media (min-width: 768px) { #cover { height: 120%; } }
@media (min-width: 768px) and (orientation:portrait) { .scroll-down { margin-top: 8%; } }
@media (min-width: 768px) and (orientation:landscape) { #cover { padding-top: 15%; } .scroll-down { margin-top: 8%; } }
@media (min-width: 992px) { #cover { height: 200%; } .scroll-down { margin-top: 3%; } }
@media (min-width: 1024px) { #cover { height: 150%; } #cover { padding-top: 15%; } .scroll-down { margin-top: 2%; } }

/* Extra small Devices, (phones, 200px and up) */
@media (min-width: 200px) { }

/* Extra small Devices, (phones, 320px and up) */
@media (min-width: 320px) { }

/* Small devices (tablets, 500px and up) */
@media (min-width: 500px) { }

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { } 

/* Medium devices (desktops, 1024px and up) */
@media (min-width: 1024px) { }

/* Medium devices (desktops, 1280px and up) */
@media (min-width: 1280px) { }

/* Large devices (large desktops, 1600px and up) */
@media (min-width: 1600px) { } .cover-content-row { line-height: 1.8;} }

/* Extra large devices (extra large desktops, 2000 and up) */
@media (min-width: 2000px) { }

/* Extra large devices (extra large desktops, 3000 and up) */
@media (min-width: 3000px) { } 

/* Extra large devices (extra large desktops, 3500 and up) */
@media (min-width: 3500px) { } 