/*****************/
/* DANIBOOMERANG */
/*****************/

html,body{
    height:100%;
}

body{
  margin:0;
  padding:0;

}

a {color: white; transition: all .5s ease-in-out;}
a:hover {color: #FF9933; text-decoration:none; transition: all .5s ease-in-out;}

.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}

.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}


.btn-outline {
    margin-top: 15px;
    border: solid 2px #fff;
    font-size: 20px;
    color: #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 3px #fff;
    color: #FF9933;
    background: #fff;
}