/*****************/
/* DANIBOOMERANG */
/*****************/

html,body { height: 100%; height:100vh; font-size: 10px; background-color: black; overflow: hidden; }
body {  line-height: 2;
		color: white; margin:0; padding:0;
		font-family: 'Lato', Helvetica, Arial, sans-serif;
		font-weight: 200; }
a { color: white; transition: all .5s ease-in-out; }
a:hover { color: #FF9933; transition: all .5s ease-in-out; }
a, a:hover, a:focus { text-decoration: none; }
.crystal { background-color: rgba(255, 255, 255, 0.0); -webkit-box-shadow: inset 0px 0px 21px 5px rgba(19, 65, 99, 0.7); -moz-box-shadow: inset 0px 0px 21px 5px rgba(19, 65, 99, 0.7); box-shadow: inset 0px 0px 21px 5px rgba(19, 65, 99, 0.7); border-radius: 10px 10px 10px 10px; -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px; }

*{ -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*:before,
*:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/* TEXT */
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.list-unstyled { padding-left: 0; list-style: none; }
.list-inline { padding-left: 0; list-style: none; mrgin-left: -5px; }
.list-inline > li { display: inline-block; padding-left: 5px; paddin-right: 5px; }

h1 { font-size: 2.5em; font-weight: 200; }
h2 { font-size: 2em; font-weight: 200; color: #FF9933 }
h3 { font-size: 1.7em; font-weight: normal; color: rgba(56, 116, 167, 0.9); }
p { margin: 1.5em 0; }

.custom-fluid-container { margin-left:2%; margin-right:2%; padding-left:2%; padding-right:2%; }

/* COMET CLASSES */
.orbit-comet { width: 100%; height: 5%; }
.comet-red { height: 12%; width: 5%; background-image: url(/images/comet-red.svg); background-size: 100%; background-repeat:no-repeat; background-position: center;  -webkit-animation: move-from-right 15s normal infinite; -moz-animation: move-from-right 15s normal infinite; -o-animation: move-from-right 15s normal infinite; }
.comet-blue { height: 9%; width: 5%; background-image: url(/images/comet-blue.svg); background-size: 100%; background-repeat:no-repeat; background-position: center; -webkit-animation: move-from-left 19s normal infinite; -moz-animation: move-from-left 19s normal infinite; -o-animation: move-from-left 19s normal infinite; }
.comet-white { height: 10%; width: 5%; background-image: url(/images/comet-white.svg); background-size: 100%; background-repeat:no-repeat; background-position: center; -webkit-animation: move-from-left 15s normal infinite; -moz-animation: move-from-left 15s normal infinite; -o-animation: move-from-left 15s normal infinite; }

/* RESPONSIVENESS */
/* Extra small devices (desktops, 200px and up) */
@media (min-width: 200px) { body { font-size: 1.4em; line-height: 2; }  div#multiColumn { -moz-column-count: 1; -moz-column-gap: normal; -webkit-column-count: 1; -webkit-column-gap: normal; column-count: 1; column-gap: normal; } }

/* Medium devices (desktops, 320px and up) */
@media (min-width: 320px) { body { font-size: 1.6em; } }

/* Medium devices (desktops, 500px and up) */
@media (min-width: 500px) { body { font-size: 1.6em; } }

/* Medium devices (desktops, 640px and up) */
@media (min-width: 640px) { div#multiColumn { -moz-column-count: 2; -moz-column-gap: normal; -webkit-column-count: 2; -webkit-column-gap: normal; column-count: 2; column-gap: normal; } }

/* Medium devices (desktops, 768px and up) */
@media (min-width: 768px) { body { font-size: 1.8em; } }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { body { font-size: 2em; } }

/* Medium devices (desktops, 1280px and up) */
@media (min-width: 1280px) { body { font-size: 2em; } }

/* Large devices (large desktops, 1600px and up) */
@media (min-width: 1600px) { body { font-size: 2.4em; } }

/* Extra large devices (extra large desktops, 2000 and up) */
@media (min-width: 2000px) { body { font-size: 3.5em; } }

/* Extra large devices (extra large desktops, 3000 and up) */
@media (min-width: 3000px) { body { font-size: 4.5em; } }

/* Extra large devices (extra large desktops, 3500 and up) */
@media (min-width: 3500px) { body { font-size: 5.5em; } }
