/*****************/
/* DANIBOOMERANG */
/*****************/

html,body{ height:100%; }
body { font-size: 3px; margin:0; padding:0;}

a {color: white; transition: all .5s ease-in-out;}
a:hover {color: #FF9933; text-decoration:none; transition: all .5s ease-in-out;}

.custom-fluid-container {width: 90%;}
h1{font-size: 1.5em;}

/* Medium devices (desktops, 200px and up) */
@media (min-width: 200px) { body{font-size: 1.4em} }

/* Medium devices (desktops, 320px and up) */
@media (min-width: 320px) { body{font-size: 1.8em} }

/* Medium devices (desktops, 500px and up) */
@media (min-width: 500px) { body{font-size: 2.0em} }

/* Medium devices (desktops, 768px and up) */
@media (min-width: 768px) { body{font-size: 2.2em} }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { body{font-size: 2.4em} }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 1280px) { body{font-size: 2.4em} }

/* Large devices (large desktops, 1600px and up) */
@media (min-width: 1600px) { body{font-size: 3.8em} }

/* Extra large devices (extra large desktops, 2000 and up) */
@media (min-width: 2000px) { body{font-size: 4.8em} }

/* Extra large devices (extra large desktops, 3000 and up) */
@media (min-width: 3000px) { body{font-size: 5.9em} }

/* Extra large devices (extra large desktops, 3500 and up) */
@media (min-width: 3000px) { body{font-size: 6.9em} }
