/*****************/
/* DANIBOOMERANG */
/*****************/

html,body{ height:100%; }
body { margin:0; padding:0; font-size: 3px;  font-weight: 200;  -webkit-font-smoothing: antialiased; color: black; line-height: 2; }
a { color: white; transition: all .5s ease-in-out; }
a:hover { color: #FF9933; text-decoration:none; transition: all .5s ease-in-out; }
h1{ font-size: 2.5em; font-weight: 200;  -webkit-font-smoothing: antialiased; }
p { margin: 1.5em 0; } }
ul { margin: 0 0 1em 0; padding: 0 0 0 1em; /* make space for li's :before */ list-style: none; }
li { position: relative; padding-left: 2em; /* text distance to icon */ }
.list-text li:before { content: '\2022'; color: #FF9933; position: absolute; left: 0.5em; /* same as ul padding-left */ }
.box-shadow-up{ -webkit-box-shadow: 0px -1px 4px 1px rgba(0,0,0,0.6); -moz-box-shadow: 0px -1px 4px 1px rgba(0,0,0,0.6); box-shadow: 0px -1px 4px 1px rgba(0,0,0,0.6); }
.box-shadow-down{ -webkit-box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.6); -moz-box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.6); box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.6); }
hr { border-color: #292828 !important; }
#plain-layout-wrapper.hidden { display: none; }
#parallax-layout-wrapper.hidden { display: none; }

/* Extra small devices (desktops, 200px and up) */
@media (min-width: 200px) { body{font-size: 1.4em; line-height: 2;} .custom-fluid-container {width: 95%;} }

/* Medium devices (desktops, 320px and up) */
@media (min-width: 320px) { body{font-size: 1.6em} }

/* Medium devices (desktops, 500px and up) */
@media (min-width: 500px) { body{font-size: 1.6em} }

/* Medium devices (desktops, 768px and up) */
@media (min-width: 640px) { .custom-fluid-container {width: 90%;} }

/* Medium devices (desktops, 768px and up) */
@media (min-width: 768px) { body{font-size: 1.8em} }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { body{font-size: 2em} .custom-fluid-container {width: 80%;} }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 1280px) { body{font-size: 2em} }

/* Large devices (large desktops, 1600px and up) */
@media (min-width: 1600px) { body{font-size: 2.4em} }

/* Extra large devices (extra large desktops, 2000 and up) */
@media (min-width: 2000px) { body{font-size: 3.5em} }

/* Extra large devices (extra large desktops, 3000 and up) */
@media (min-width: 3000px) { body{font-size: 4.5em} }

/* Extra large devices (extra large desktops, 3500 and up) */
@media (min-width: 3500px) { body{font-size: 5.5em} }
