/***********/
/* FOOTER  */
/***********/
footer { position: fixed; bottom: 0; text-align: center; color: white; max-height: 0; overflow: hidden;
  transition: max-height 0.5s ease-out;
  -webkit-transition: max-height 0.5s;
  -moz-transition: max-height 0.5s;
  transition: max-height 0.5s;
  border-radius: 9px 9px 0px 0px;
  -moz-border-radius: 9px 9px 0px 0px;
  -webkit-border-radius: 9px 9px 0px 0px;
  background: rgba(0, 0, 0, 0.7);
  bottom: -5px;
  width: 0px;
  -webkit-box-shadow: 0px -1px 4px 1px rgba(0,0,0,0.6); -moz-box-shadow: 0px -1px 4px 1px rgba(0,0,0,0.6); box-shadow: 0px -1px 4px 1px rgba(0,0,0,0.6);
}
footer.expand-small { font-size: 1.3em; width: 40%; margin-left: 30%; background-color: rgba(255,255,255,0.8); max-height: 15%; transition: max-height 0.5s ease-in; -webkit-transition: max-height 0.5s; -moz-transition: max-height 0.5s; transition: max-height 0.5s; }
footer.expand-big { font-size: 1.08em; width: 60%; margin-left: 20%;  background-color: rgba(19, 65, 99, 0.7); max-height: 25%;  transition: max-height 0.5s ease-in; -webkit-transition: max-height 0.5s; -moz-transition: max-height 0.5s; transition: max-height 0.5s; }
.footer-container { width: auto; text-align: center; color: rgba(19, 65, 99, 0.7); }
.floating-button { z-index: 1; }
#footer-wrapper a { color: white; transition: all .5px ease-in-out; }
#footer-wrapper a:hover { color: #FF9933; text-decoration:none; transition: all .5px ease-in-out; }
#to-top-button-wrapper { position: absolute; } 
#share-button-wrapper { position: absolute; } 

/*========== RESPONSIVENESS ==========*/

/* Extra small Devices, (phones, 200px and up) */
@media (min-width: 200px) { .footer { font-size: 1em !important; } #to-top-button-wrapper { bottom: 0.5%; right: 0.5%; } #share-button-wrapper { bottom: 0.5%; left: 0.5%; } }
                            
/* Extra small Devices, (phones, 320px and up) */
@media (min-width: 320px) { .footer { font-size: 1em !important; } }

/* Extra small Devices, (phones, 500px and up) */
@media (min-width: 500px) { }
                            
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { .footer { font-size: 1.1em !important; } footer.expand-big { font-size: 1.2em; } #to-top-button-wrapper { bottom: 12%; right: 6%; } #share-button-wrapper { bottom: 12%; left: 6%; } }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { .footer { font-size: 1.1em !important; } }

/* Medium devices (desktops, 1024px and up) */
@media (min-width: 1024px) { .footer { font-size: 1.2em !important; }
                             
/* Large devices (large desktops, 1600px and up) */
@media (min-width: 1600px) { .footer { font-size: 2.3em !important; }
                             
/* Extra large devices (extra large desktops, 2000 and up) */
@media (min-width: 2000px) {  .footer { font-size: 2.6em !important; #to-top-button-wrapper { bottom: 5%; right: 5%; } #share-button-wrapper { bottom: 5%; left: 5%; } }
                              
/* Extra large devices (extra large desktops, 2500 and up) */
@media (min-width: 2500px) {  .footer { font-size: 2.8em !important; }
                              
/* Extra large devices (extra large desktops, 3000 and up) */
@media (min-width: 3000px) {  .footer { font-size: 3em !important; } 
                              
/* Extra large devices (extra large desktops, 3500 and up) */
@media (min-width: 3500px) {  .footer { font-size: 6em !important; }
                              