/***********/
/* HEADER */
/***********/

header {
  height: 0px;
  width: 100%;
  overflow: hidden;
  z-index: 1;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: height 1s;
  -moz-transition: height 1s;
  -ms-transition: height 1s;
  -o-transition: height 1s;
  transition: height 1s;
}

/*==========  RESPONSIVITY  ==========*/

/* Small devices (tablets, 767px and down)*/
@media (min-width: 200px) {header.expand {height: 50px;}}

/* Extra small Devices, (phones, 320 and up) */
@media (min-width: 320px) {header.expand {height: 60px;}}

/* Extra small Devices, (phones, 480px and up) */
@media (min-width: 500px) {header.expand {height: 75px;}}

/*////////////////////////////////////*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {header.expand {height: 90px;}}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {header.expand {height: 100px;}}

/* Large devices (large desktops, 1280px and up) */
@media (min-width: 1280px) {header.expand {height: 110px;}}

/* Large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) {header.expand {height: 115px;}}

/*////////////////////////////////////*/

/* Extra large devices (extra large desktops, 1600px and up) */
@media (min-width: 1600px) {header.expand {height: 135px;}}

/* Extra large devices (extra large desktops, 2000px and up) */
@media (min-width: 2000px) {header.expand {height: 135px;}}

/* Extra large devices (extra large desktops, 2000px and up) */
@media (min-width: 2500px) {header.expand {height: 175px;}}

/* Extra large devices (extra large desktops, 2000px and up) */
@media (min-width: 3000px) {header.expand {height: 190px;}}

/* Extra large devices (extra large desktops, 2000px and up) */
@media (min-width: 3500px) { header.expand {height: 300px;}}

