
#intro { background-size:100%; background-repeat: no-repeat; background-image: url(/images/cover-space.svg); overflow: hidden; position: absolute; background-color: black; width: 100%; height: 100%; z-index: 10; color: white; }
#intro-title { margin: 10% 0% 3% 0%; }
#intro-app-description { font-size: 0.6em; text-align: center; }
#intro-list { margin: 5% 0% 10% 0%; }
.intro-element { padding-left: 17vw; line-height: 3em; }
.intro-element::before { content: '\00B0'; color: #FF9933; }
#intro-app-license { font-size: 0.6em; text-align: center; position: fixed; bottom: 3; width: 100%; }

/***********/
/* CIRCLES */
/***********/

.circular,.circular::before,.circular::after { -webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%; }
#intro-circles-wrapper { position: absolute; left: 50vw; bottom: 40vh; }

#intro-circles-center {
  margin-left: 34%; margin-top: 34%; width: 32%; height: 32%;
  border: 0.1em solid rgba(226, 227, 225, 0.1);
  border-color: #FF9933;
  background-color: rgba(19, 65, 99, 0);
}
#center { margin-left: 20%; margin-top: 20%; width: 60%; height: 60%; }
.boomerang { background-size:contain; background-repeat: no-repeat; background-image: url(/images/boomerang.svg); }
.start-app { background-color: white; }

#intro-circles,#intro-circles::before,#intro-circles::after { position: absolute; top: 50%; left: 50%; }
#intro-circles {
  border: 0.5em solid rgba(226, 227, 225, 0.1);
  content: "";
  border-left-color: #1AA346;
  border-right-color: rgba(19, 65, 99, 1);
  margin: -7.5em 0 0 -7.5em;
  height: 15em;
  width: 15em;
}
#intro-circles::before {
  border: 1em solid rgba(226, 227, 225, 0.1);
  content: "";
  border-left-color: rgba(19, 65, 99, 1);
  border-right-color: #1AA346; 
  margin: -4.5em 0 0 -4.5em;
  height: 9em;
  width: 9em;
  
}
#intro-circles::after {
  border: 0.3em solid rgba(226, 227, 225, 0.1);
  content: "";
  border-left-color: #1AA346;
  border-right-color: #0AA346;
  margin: -3em 0 0 -3em;
  height: 6em;
  width: 6em;
}

/**********************/
/***** ANIMATIONS *****/
/**********************/

.speed-function { -webkit-animation: rotate 3s linear 2; -moz-animation: rotate 3s linear 2; -o-animation: rotate 3s linear 2; animation: rotate 3s linear 2; }
.speed-function::before { -webkit-animation: rotate 2.5s cubic-bezier(1, .06, .39, .77) 3; -moz-animation: rotate 2.5s cubic-bezier(1, .06, .39, .77) 3; -o-animation: rotate 2.5s cubic-bezier(1, .06, .39, .77) 3; animation: rotate 2.5s cubic-bezier(1, .06, .39, .77) 3; }
.speed-function::after { -webkit-animation: rotate 3s cubic-bezier(0, .07, 1, .32) 3; -moz-animation: rotate 3s cubic-bezier(0, .07, 1, .32) 3; -o-animation: rotate 3s cubic-bezier(0, .07, 1, .32) 3; animation: rotate 3s cubic-bezier(0, .07, 1, .32) 3; }

@-webkit-keyframes rotate { 100% { -webkit-transform: rotate(360deg); } }
@-moz-keyframes rotate { 100% { -moz-transform: rotate(360deg); } }
@-o-keyframes rotate { 100% { -o-transform: rotate(360deg); } }
@keyframes rotate { 100% { transform: rotate(360deg); } }

/**********/
/* FOOTER */
/**********/
.intro-footer { height: 5%; border: solid; }
#intro-github-wrapper { height: 4em; position: absolute; left: 50vw; bottom: 40vh; }