/* ---------------- */
/** Custom Navbars **/
/* ---------------- */

/* styling my navbar */
.custom-navbar{
    background: white;
    box-shadow: 0px 1px 2px rgba(51,51,51,0.1);
    border: none;
}

/* meassuring my navbar */
.navbar-inner {
    min-height: 0px;
}
.navbar-brand,
.navbar-nav li a {
    line-height: 90px;
    height: 90px;
    padding-top: 0;
}
.navbar-height{
    height: 60px;
}
@media(min-width:768px) {
    /** HEIGHT for Navbar & sidebar-brand **/
    .navbar-height{
        height: 90px;
    }
}
@media(min-width:1000px) {
    /** HEIGHT for Navbar & sidebar-brand **/
    .navbar-height{
        height: 120px;
    }

    .navbar-brand,
    .navbar-nav li a {
        line-height: 120px;
        height: 120px;
        padding-top: 0;
    }
}

@media(min-width:1200px) {
    /** HEIGHT for Navbar & sidebar-brand **/
    .navbar-height{
        height: 130px;
    }

    .navbar-brand,
    .navbar-nav li a {
        line-height: 130px;
        height: 130px;
        padding-top: 0;
    }
}

/* For the responsive button */
.navbar-preheader .navbar-toggle:hover {
    background-color: #484848;
        border: solid 0.3px black;
}
.navbar-preheader .navbar-toggle:hover .icon-bar {
    background-color: rgba(255,82,29,255);
        border: solid 0.1px black;

}
.navbar-toggle {
  margin: auto;
  position: absolute;
  top: 10%; bottom: 10%; right: 6px;
}

/* For having a navbar-brand at the center of the navbar */
.navbar-center{
    position: absolute;
    width: 70%;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}
@media(min-width: 768px) {
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        margin: auto;
        font-size: 18px;
    }

    .navbar {
        height: 90px;
    }
}

@media(min-width: 1000px) {
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        margin: auto;
        font-size: 24px;
    }

    .navbar {
        height: 120px;
    }
}

@media(min-width: 1200px) {
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        margin: auto;
        font-size: 25px;
    }

    .navbar {
        height: 130px;
    }
}

/* ---------------- */
/* ---------------- */
/* ---------------- */

/* ------------- */
/* Toggle Styles */
/* ------------- */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
	top:0;
	bottom:0;
	z-index: 1030;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
	background:#373737;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    padding: 2%;
    padding-top: 6%;
    background: whitesmoke;
}

#wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: -250px;
}

/* ------------- */
/* ------------- */
/* ------------- */

/* -------------- */
/* Sidebar Styles */
/* -------------- */


.sidebar-nav {
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 70px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 8px 9px 8px 9px;    
    border-bottom: 1px solid #707070;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: rgba(0,179,215,255);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

/*.sidebar-nav > .sidebar-brand {
    font-size: 18px;
    line-height: 60px;
        padding-top: 5%;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
}*/

.sidebar-brand-wrapper {
    z-index: 1031;
    background: #707070;
    position: fixed;
    color: white;
    border: none;
}

.sidebar-sections{
    margin-top: 90px;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding-top: 6%;
        width: 100%;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;

    }
    .sidebar-nav{
        width: 250px;
    }
    .sidebar-nav > .sidebar-brand {
        font-size: 24px;
        line-height: 90px;
        padding: 9%;
    }
}


@media(min-width:1000px) {
    #wrapper {
        padding-left: 325px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 325px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding-top: 9%;
        width: 100%;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;

    }
    .sidebar-nav{
        width: 325px;
    }
    .sidebar-nav li {
        text-indent: 40px;
        line-height: 90px;
    }

    .sidebar-nav li a {
        display: block;
        text-decoration: none;
        color: white;
        padding: 12px 13px 12px 13px;    
    }

    .sidebar-sections {
        margin-top: 120px;
    }

    .sidebar-nav > .sidebar-brand {
        font-size: 24px;
        line-height: 60px;
        padding-top: 9%;
    }
}

@media(min-width:1200px) {
    #wrapper {
        padding-left: 350px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 350px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding-top: 9%;
        width: 100%;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;

    }
    .sidebar-nav{
        width: 350px;
    }
    .sidebar-nav li {
        text-indent: 40px;
        line-height: 100px;
    }

    .sidebar-nav li a {
        display: block;
        text-decoration: none;
        color: white;
        padding: 12px 13px 12px 13px;    
    }

    .sidebar-sections {
        margin-top: 130px;
    }

    .sidebar-nav > .sidebar-brand {
        font-size: 24px;
        line-height: 70px;
        padding-top: 8%;
    }
}
/* ---------------------- */
/* NAVBAR-SIDE-RESPONSIVE */
/* ---------------------- */


#sidebar-wrapper-responsive {
    z-index: 2030;
    overflow-y: auto;
    top:90px;
    bottom:0;
    position: fixed;
    right: 0;
    background:#373737;
}

.sidebar-nav-responsive {
    top: 0;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav-responsive li {
    text-indent: 5px;
    line-height: 60px;
    border-bottom: solid 1px rgba(255,82,29,255); 
}

.sidebar-nav-responsive li a {
    display: block;
    text-decoration: none;
    color: #999999;
    padding: 12px 13px 12px 13px;    
}

/* ---------------------- */
/* ---------------------- */
/* ---------------------- */


.width-maincontent-when-responsive {
    width: 94%;
}

.active-sidebar-link{
    border-right: solid 8px rgba(0,179,215,255);
}

.active-responsive-sidebar-link{
    border-left: solid 6px rgba(255,82,29,255);
}