/* ---------------- */
/** Custom Navbars **/
/* ---------------- */

/* styling my navbar */
.custom-navbar{
    background: white;
    box-shadow: 0px 1px 2px rgba(51,51,51,0.1);
    border: none;
}

/* meassuring my navbar */
.navbar-inner {
    min-height: 0px;
}
.navbar-brand,
.navbar-nav li a {
    line-height: 70px;
    height: 70px;
    padding-top: 0;
}
.navbar-height{
    height: 60px;
}
@media(min-width:768px) {
    /** HEIGHT for Navbar & sidebar-brand **/
    .navbar-height{
        height: 70px;
    }
}

/* For the responsive button */
.navbar-preheader .navbar-toggle:hover {
    background-color: #484848;
        border: solid 0.3px black;
}
.navbar-preheader .navbar-toggle:hover .icon-bar {
    background-color: orange;
        border: solid 0.1px black;

}
.navbar-toggle {
  margin: auto;
  position: absolute;
  top: 10%; bottom: 10%; right: 10px;
}

/* For having a navbar-brand at the center of the navbar */
.navbar-center{
    position: absolute;
    width: 30%;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}
@media(min-width: 768px) {
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        margin: auto;    }
    .navbar {
        height: 70px;

    }
}

/* ---------------- */
/* ---------------- */
/* ---------------- */

/* ------------- */
/* Toggle Styles */
/* ------------- */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
	top:0;
	bottom:0;
	z-index: 1030;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
	background:#373737;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    padding: 15px;
    background: whitesmoke;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* ------------- */
/* ------------- */
/* ------------- */

/* -------------- */
/* Sidebar Styles */
/* -------------- */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    border-bottom: solid gray 1px;
    text-indent: 20px;
    line-height: 60px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    font-size: 18px;
    line-height: 60px;
    padding-top: 5px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
}

.sidebar-brand-wrapper {
    z-index: 1031;
    background: #707070;
    position: fixed;
    color: white;
}

.sidebar-sections{
    margin-top: 70px;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;

    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

