  /************/
  /* PARALLAX */
  /************/
  /** { -webkit-overflow-scrolling: touch; }*/
  .parallax { height: 100vh; /* fallback for older browsers */ height: 100vh; overflow-x: hidden; overflow-y: auto; -webkit-perspective: 300px; perspective: 300px; -webkit-perspective-origin-x: 100%; perspective-origin-x: 100%; }
  .parallax__section { position: relative; height: 100vh; /* fallback for older browsers */ height: 100vh; -webkit-transform-style: preserve-3d; transform-style: preserve-3d; }
  .parallax__layer { position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; -webkit-transform-origin-x: 100%; transform-origin-x: 100%; }
  .parallax__layer--fore { -webkit-transform: translateZ(90px) scale(.7); transform: translateZ(90px) scale(.7); z-index: 1; }
  .parallax__layer--base { -webkit-transform: translateZ(0); transform: translateZ(0); z-index: 4; }
  .parallax__layer--back { -webkit-transform: translateZ(-300px) scale(2); transform: translateZ(-300px) scale(2); z-index: 3; }
  .parallax__layer--deep { -webkit-transform: translateZ(-600px) scale(3); transform: translateZ(-600px) scale(3); z-index: 2; }

  /*****************/
  /* COVER SECTION */
  /*****************/
  #cover-parallax-section { z-index: 1; }
  #cover-parallax-section .parallax__layer--deep { background-size: 100%; background-position: center; background-repeat: no-repeat; }
  #cover-parallax-section .parallax__layer--back { background-size: 100%; background-repeat: no-repeat; background-image: url(/images/moon.svg); }
  #cover-parallax-section .parallax__layer--base { margin-top: 15vh; }
  @media all and (orientation: portrait){ 
    #cover-parallax-section { height: 220vh;  }
    #cover-parallax-section .parallax__layer--deep { background-image: url(/images/space-&-sun-portrait.svg);  margin-top: -50%;} 
    #cover-parallax-section .parallax__layer--back { margin-top: 30vh; }
  }
  @media all and (orientation: landscape){
    #cover-parallax-section { height: 220vh; }
    #cover-parallax-section .parallax__layer--deep { background-image: url(/images/space-&-sun-landscape.svg);   }
    #cover-parallax-section .parallax__layer--back { margin-top: 120vh;}
  } 
  @media (min-width: 2900px) and (orientation:landscape) { 
    #cover-parallax-section .parallax__layer--deep { margin-top: -10%; }
  }
  @media (min-width: 3500px) and (orientation:landscape) { 
    #cover-parallax-section .parallax__layer--deep { margin-top: -20%; }
  } 

  /*********************************/
  /* FIRST IMAGE SECTION */
  /*********************************/
  #first-image-section { z-index: 1; }
  #first-image-section .parallax__layer--deep { } 
  #first-image-section .parallax__layer--back { background-size:100%; background-repeat: no-repeat; background-image: url(/images/earth-ocean-clouds-landscape.svg); } 
  #first-image-section .parallax__layer--base { background-size:100%; background-repeat: no-repeat;  } 
  #first-image-section .parallax__layer--fore { background-size:100%; background-repeat: no-repeat; background-image: url(/images/first-books-clouds-landscape.svg);}
  @media all and (orientation: portrait){ 
    #first-image-section {  }
    #first-image-section .parallax__layer--back { }
    #first-image-section .parallax__layer--base { margin-top: -20%; background-image: url(/images/cliff-top-zoomed.svg); }
    #first-image-section .parallax__layer--fore { margin-top: -5%; }
  }
  @media all and (orientation: landscape){
    #first-image-section { height: 150vh; }
    #first-image-section .parallax__layer--back { margin-top: 10%; }
    #first-image-section .parallax__layer--base { margin-top: -30%; background-image: url(/images/cliff-top-zoomed.svg);}
    #first-image-section .parallax__layer--fore { margin-top: -5%; }
  } 
  @media (max-width: 1024px) and (orientation:landscape) { 
    #first-image-section { height: 100vh; }
  }
  @media (min-width: 2900px) and (orientation:landscape) { 
    #first-image-section .parallax__layer--fore { margin-top: -10%; }
  }
  @media (min-width: 3500px) and (orientation:landscape) { 
    #first-image-section .parallax__layer--fore { margin-top: -20%; }
  }

  /*********/
  /* ABOUT */
  /*********/
  #about-parallax-section { height: 320vh; z-index: 2; }
  #about-parallax-section .parallax__layer--base { }

  /*************************/
  /* SECOND IMAGES SECTION */
  /*************************/
  #second-image-section { height: 300vh; z-index: 1; }
  #second-image-section .parallax__layer--deep  { background-size: 100%; margin-top: 40%; }
  #second-image-section .parallax__layer--back { background-size: 100%; background-repeat:no-repeat; margin-top: 45%; border:solid black;}
  #second-image-section .parallax__layer--base { background-size: 100%; background-repeat:no-repeat; margin-top: 45%; }
  #second-image-section .parallax__layer--fore { background-size: 100%; background-repeat:no-repeat; margin-top: 26%; }
  @media all { }
  @media all {
    #second-image-section .parallax__layer--deep { background: black; }
    #second-image-section .parallax__layer--back { background-image: url(/images/FE-books-clouds-landscape.svg); }
    
  } 
  
  /**********/
  /* LOVING */
  /**********/
  #loving-parallax-section { height: 350vh; z-index: 2; }
  #loving-parallax-section .parallax__layer--base { }

  /*************************/
  /* THIRD IMAGES SECTION */
  /*************************/
  #third-image-section { height: 250vh; z-index: 1; }
  #third-image-section .parallax__layer--deep  { background-size: 100%; }
  #third-image-section .parallax__layer--back { background-size: 100%; margin-top: -20%;}
  #third-image-section .parallax__layer--base { background-size: 100%; background-repeat:no-repeat;}
  #third-image-section .parallax__layer--fore { background-size: 100%; background-repeat:no-repeat; margin-top: 20%;}
  @media all { }
  @media all {
    #third-image-section .parallax__layer--deep { background: black; }
    #third-image-section .parallax__layer--base { background-image: url(/images/screen-&-laptop-clouds-landscape.svg); }
    #third-image-section .parallax__layer--fore { background-image: url(/images/mobile-clouds-landscape.svg); }
  }   
  /********/
  /* WORK */
  /********/
  #work-parallax-section { height: 320vh; z-index: 2; }
  #work-parallax-section .parallax__layer--base { }

  /*************************/
  /* FOURTH IMAGES SECTION */
  /*************************/
  fourth-image-section { height: 220vh; z-index: 3; }
  fourth-image-section .parallax__layer--deep  { background-size: 100%; }
  fourth-image-section .parallax__layer--back { background-size: 100%; }
  fourth-image-section .parallax__layer--base { background-size: 100%; }
  fourth-image-section .parallax__layer--fore { background-size: 100%; background-repeat:no-repeat;}
  @media all { }
  @media all {
    fourth-image-section .parallax__layer--deep { background-image: url(/images/sunrise-step3-landscape.svg); }
    fourth-image-section .parallax__layer--back { background-image: url();}
    fourth-image-section .parallax__layer--base { background-image: url(); }
    fourth-image-section .parallax__layer--fore { background-image: url(); }
  }   

  /***********/
  /* CONTACT */
  /***********/
  #contact-parallax-section { height: 320vh; z-index: 1; }
  #contact-parallax-section .parallax__layer--base { }

  /* PARALLAX TEXTS AND OBJECTS*/
  .parallax-text { position: absolute; top: 50%; color: white;  width: 50%; text-align: center; }
  .px-text-center { left: 50%;  -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
  .px-text-right { right: 0; }
  .px-text-left { left: 0; }

  @media all and (orientation: portrait){ 
    #px-text-moon { margin-top: 20%; }
    #px-text-books { margin-top: -5%; }
  }
  @media all and (orientation: landscape){ 
    #px-text-moon { margin-top: 20vh; }
    #px-text-books { margin-top: -5%; }
  }

  #satellite {
    background-image: url(/images/satellite.svg); background-size: 100%; background-repeat:no-repeat; background-position: center;
    height: 10%; width: 10%; margin-left: 60%; top: 50%; -webkit-animation-name: spin; -webkit-animation-duration: 60000ms; -webkit-animation-iteration-count: infinite; -webkit-animation-timing-function: linear; -moz-animation-name: spin; -moz-animation-duration: 60000ms; -moz-animation-iteration-count: infinite; -moz-animation-timing-function: linear; -ms-animation-name: spin; -ms-animation-duration: 60000ms; -ms-animation-iteration-count: infinite; -ms-animation-timing-function: linear;
  }
  #comet {
    background-image: url(/images/comet.svg); background-size: 100%; background-repeat:no-repeat; background-position: center;
    
    height: 10%; width: 10%; margin-left: 60%; top: 50%;
    -webkit-animation: moveclouds 55s linear infinite;
    -moz-animation: moveclouds 55s linear infinite;
    -o-animation: moveclouds 55s linear infinite;
  }


/**************/
/* ANIMATIONS */
/**************/
@-webkit-keyframes spin {
  from { -webkit-transform:rotate(0deg); }
  to { -webkit-transform:rotate(360deg); }
}

@-webkit-keyframes moveclouds {
  0% {margin-left: 1000px;}
  100% {margin-left: -1000px;}
}
@-moz-keyframes moveclouds {
  0% {margin-left: 1000px;}
  100% {margin-left: -1000px;}
}
@-o-keyframes moveclouds {
  0% {margin-left: 1000px;}
  100% {margin-left: -1000px;}
}