/************/
/* PARALLAX */
/************/
/** { -webkit-overflow-scrolling: touch; }*/
#parallax-wrapper { height: 100%; /* fallback for older browsers */ height: 100vh; }
.parallax { overflow-x: hidden; overflow-y: auto; -webkit-perspective: 300px; perspective: 300px; -webkit-perspective-origin-x: 100%; perspective-origin-x: 100%; }
.parallax__section { position: relative; height: 100%; /* fallback for older browsers */ height: 100vh; -webkit-transform-style: preserve-3d; transform-style: preserve-3d; }
.parallax__layer { position:fixed; top: 0px; left: 0px; right: 0px; bottom: 0px; -webkit-transform-origin-x: 100%; transform-origin-x: 100%; }
.parallax__layer--fore { -webkit-transform: translateZ(90px) scale(.7); transform: translateZ(90px) scale(.7); z-index: 4; }
.parallax__layer--base { -webkit-transform: translateZ(0); transform: translateZ(0); z-index: 3; }
.parallax__layer--back { -webkit-transform: translateZ(-300px) scale(2); transform: translateZ(-300px) scale(2); z-index: 3; }
.parallax__layer--deep { -webkit-transform: translateZ(-600px) scale(3); transform: translateZ(-600px) scale(3); z-index: 1; left: -5%; }

/*****************/
/* COVER SECTION */
/*****************/
#cover-parallax-section { z-index: 1; }
#cover-parallax-section .parallax__layer--deep { }
#cover-parallax-section .parallax__layer--back { }

@media all { 
  #cover-parallax-section { height: 125vh; }
  #cover-parallax-section .parallax__layer--deep { height: 125vh; }
  #cover-parallax-section .parallax__layer--back { height: 100vh; margin-top: 140vh; }
}
@media (min-width: 768px) and (max-width: 1024px) {
  #cover-parallax-section { height: 120vh; }
  #cover-parallax-section .parallax__layer--deep { height: 120vh; }
  #cover-parallax-section .parallax__layer--back { margin-top: 140vh; }
}
@media (min-width: 640px) and (max-width: 767px) {
  #cover-parallax-section { height: 100vh; }
  #cover-parallax-section .parallax__layer--deep { height: 100vh; }
  #cover-parallax-section .parallax__layer--back { margin-top: 140vh; }
}
@media (min-width: 500px) and (max-width: 639px) {
  #cover-parallax-section { height: 100vh; }
  #cover-parallax-section .parallax__layer--deep { height: 100vh; }
  #cover-parallax-section .parallax__layer--back { margin-top: 180vh; }
}
@media (min-width: 200px) and (max-width: 500px) {
  #cover-parallax-section { height: 100vh; }
  #cover-parallax-section .parallax__layer--deep { height: 120vh; }
  #cover-parallax-section .parallax__layer--back { margin-top: 180vh; }
}

/*********************************/
/* CONNECTIVITY ANIMATED SECTION */
/*********************************/
#connectivity-parallax-section { z-index: 2; }
#connectivity-parallax-section .parallax__layer--deep { }
#connectivity-parallax-section .parallax__layer--base { }

/*******************************/
/* CREATIVITY ANIMATED SECTION */
/*******************************/
#creativity-parallax-section { z-index: 3; }
#creativity-parallax-section .parallax__layer--deep { }
#creativity-parallax-section .parallax__layer--base { }

/***********************************/
/* REMOTE WORKING ANIMATED SECTION */
/***********************************/
#remote-working-parallax-section { z-index: 2; }
#remote-working-parallax-section .parallax__layer--base { }
#remote-working-parallax-section .parallax__layer--deep { }
@media all { #remote-working-parallax-section .parallax__layer--deep { height: 100vh; margin-top: 50vh; } }
@media (min-width: 768px) and (max-width: 1024px) { #remote-working-parallax-section .parallax__layer--deep { margin-top: 50vh; } }
@media (min-width: 640px) and (max-width: 767px) { #remote-working-parallax-section .parallax__layer--deep { margin-top: 120vh; } }
@media (min-width: 500px) and (max-width: 639px) { #remote-working-parallax-section .parallax__layer--deep { margin-top: 120vh; } }
@media (min-width: 200px) and (max-width: 500px) { #remote-working-parallax-section .parallax__layer--deep { margin-top: 120vh; } }

/*********************************/
/* REMOTE WORKING IMAGES SECTION */
/*********************************/
#remote-working-parallax-images { z-index: 2; }
#remote-working-parallax-images .parallax__layer--deep { } 
#remote-working-parallax-images .parallax__layer--back { } 
#remote-working-parallax-images .parallax__layer--base { } 
#remote-working-parallax-images .parallax__layer--fore { }

@media all { 
  #remote-working-parallax-images { height: 180vh !important; }
  #remote-working-parallax-images .parallax__layer--fore { margin-top: 60vh; }
  #remote-working-parallax-images .parallax__layer--base { height: 180vh; }
  #remote-working-parallax-images .parallax__layer--back { height: 140vh; margin-top: 60vh; }
  #cliff { height: 110%; width: 110%; }
  #orbit-iss { margin-left: 15vh; margin-top: -10vh;  height: 35vh; width: 35vh; }
  #iss { height: 90%; width: 90%; }
  #orbit-earth-connectivity { width: 100%; }
  #earth-connectivity { height:100%; width:100% }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  #orbit-iss { margin-left: 15vh; margin-top: -15vh;  height: 25vh; width: 25vh; }
}

@media (min-width: 768px) and (max-width: 1023px) {
  #remote-working-parallax-images { height: 140vh; }
  #remote-working-parallax-images .parallax__layer--fore { margin-top: 40vh; }
  #remote-working-parallax-images .parallax__layer--base { height: 160vh; }
  #remote-working-parallax-images .parallax__layer--back { margin-top: 80vh; }
  #orbit-iss { margin-left: 10vh; margin-top: -15vh;  height: 25vh; width: 25vh; }
}
@media (min-width: 640px) and (max-width: 767px) {
  #remote-working-parallax-images { height: 105vh; }
  #remote-working-parallax-images .parallax__layer--fore { margin-top: 30vh; }
  #remote-working-parallax-images .parallax__layer--back { margin-top: 80vh; }
  #remote-working-parallax-images .parallax__layer--base { }
  #orbit-iss { margin-left: 10vh; margin-top: -15vh;  height: 20vh; width: 20vh; }
}
@media (min-width: 500px) and (max-width: 639px) {
  #remote-working-parallax-images { height: 90vh; }
  #remote-working-parallax-images .parallax__layer--fore { margin-top: 0vh; }
  #remote-working-parallax-images .parallax__layer--back { margin-top: 110vh; }
  #orbit-iss { margin-left: 20vh; margin-top: -15vh;  height: 15vh; width: 15vh; }
}  
@media (min-width: 400px) and (max-width: 499px) {
  #remote-working-parallax-images { height: 75vh; }
  #remote-working-parallax-images .parallax__layer--fore { margin-top: 20vh; }
  #remote-working-parallax-images .parallax__layer--back { margin-top: 175vh; }
  #cliff { height: 140%; width: 140%; }
  #orbit-iss { margin-left: 30vh; margin-top: -45vh;  height: 12vh; width: 12vh; }
}
@media (min-width: 320px) and (max-width: 399px) {
  #remote-working-parallax-images { height: 60vh; }
  #remote-working-parallax-images .parallax__layer--fore { margin-top: 10vh; }
  #remote-working-parallax-images .parallax__layer--back { margin-top: 110vh; }
  #orbit-iss { margin-left: 30vh; margin-top: -15vh;  height: 15vh; width: 15vh; }
}   
@media (min-width: 200px) and (max-width: 319px) {
  #remote-working-parallax-images { height: 45vh; }
  #remote-working-parallax-images .parallax__layer--fore { margin-top: 10vh; }
  #remote-working-parallax-images .parallax__layer--back { margin-top: 110vh; }
  #orbit-iss { margin-left: 30vh; margin-top: -15vh;  height: 15vh; width: 15vh; }
}   

  /********************************/
  /* ipad & ipad mini && iphone 6 */
  /********************************/

  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : landscape) { 
    #remote-working-parallax-images { height: 145vh  !important;}
  }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : portrait) { 
    #remote-working-parallax-images { height: 87vh !important;}
  }
  @media only screen and (min-device-width: 375px) and (max-device-width: 667px) { 
    #remote-working-parallax-images { height: 87vh !important;}
  }
  /*******************************/


/*********/
/* ABOUT */
/*********/
#about-parallax-section { z-index: 3; }

/*****************************/
/* BACK END ANIMATED SECTION */
/*****************************/
#BE-parallax-section { z-index: 2; }
#BE-parallax-section .parallax__layer--deep { }
#BE-parallax-section .parallax__layer--base { }

/***************************/
/* BACK END IMAGES SECTION */
/***************************/
#BE-parallax-images { z-index: 1; margin-top: 50vh; }
#BE-parallax-images .parallax__layer--deep { height: 150vh; background-size: 100%;  background-repeat:no-repeat; background-image: url(/images/BE-space.svg); }
#BE-parallax-images .parallax__layer--back { }
#BE-parallax-images .parallax__layer--base { }
#BE-parallax-images .parallax__layer--fore { }
#BE-books { height: 100%; width: 100%; }
#BE-ruby { height: 35%; width: 70%; }

@media (min-width: 1366px) {
  #BE-parallax-images { height: 235vh; }
  #BE-parallax-images .parallax__layer--deep { margin-top: 0vh; }
  #BE-parallax-images .parallax__layer--back { margin-top: 0vh; }
  #BE-parallax-images .parallax__layer--base { margin-top: 0vh; } #BE-ruby { margin-top: 130vh; margin-left: 35vw; }
  #BE-parallax-images .parallax__layer--fore { margin-top: 0vh; } #BE-books { margin-top: 0vh; }
}
/* 1920 * 1200 */
@media (min-width: 1366px) and (max-height: 1280px) {
  #BE-parallax-images { height: 195vh; }
  #BE-parallax-images .parallax__layer--deep { margin-top: 0vh; }
  #BE-parallax-images .parallax__layer--back { margin-top: 0vh; }
  #BE-parallax-images .parallax__layer--base { margin-top: 0vh; } #BE-ruby { margin-top: 130vh; margin-left: 35vw; }
  #BE-parallax-images .parallax__layer--fore { margin-top: 0vh; } #BE-books { margin-top: 0vh; }
}
/* 1920 * 1080 */
@media (min-width: 1366px) and (max-height: 1080px) {
  #BE-parallax-images { height: 225vh; height: 200vh; }
  #BE-parallax-images .parallax__layer--deep { margin-top: 0vh; }
  #BE-parallax-images .parallax__layer--back { margin-top: 0vh; }
  #BE-parallax-images .parallax__layer--base { margin-top: 0vh; } #BE-ruby { margin-top: 130vh; margin-left: 35vw; }
  #BE-parallax-images .parallax__layer--fore { margin-top: 0vh; } #BE-books { margin-top: 0vh; }
}
/* 1680 * 1050 */
@media (min-width: 1366px) and (max-height: 1050px) {
  #BE-parallax-images { height: 180vh; }
  #BE-parallax-images .parallax__layer--deep { margin-top: 0vh; }
  #BE-parallax-images .parallax__layer--back { margin-top: 0vh; }
  #BE-parallax-images .parallax__layer--base { margin-top: 0vh; } #BE-ruby { margin-top: 115vh; margin-left: 35vw; }
  #BE-parallax-images .parallax__layer--fore { margin-top: 0vh; } #BE-books { margin-top: 0vh; }
}
/* 1440 * 900 */
@media (min-width: 1366px) and (max-height: 900px) {
  #BE-parallax-images { height: 200vh; }
  #BE-parallax-images .parallax__layer--deep { margin-top: 0vh; }
  #BE-parallax-images .parallax__layer--back { margin-top: 0vh; }
  #BE-parallax-images .parallax__layer--base { margin-top: 0vh; } #BE-ruby { margin-top: 115vh; margin-left: 35vw; }
  #BE-parallax-images .parallax__layer--fore { margin-top: 0vh; } #BE-books { margin-top: 0vh; }
}
@media (min-width: 1280px) and (max-width: 1365px) {
  #BE-parallax-images { height: 200vh; }
  #BE-parallax-images .parallax__layer--deep { margin-top: 0vh; }
  #BE-parallax-images .parallax__layer--back { margin-top: 0vh; }
  #BE-parallax-images .parallax__layer--base { margin-top: 0vh; } #BE-ruby { margin-top: 115vh; margin-left: 35vw; }
  #BE-parallax-images .parallax__layer--fore { margin-top: 0vh; } #BE-books { margin-top: 0vh; }
} 
@media (max-width: 1280px) and (min-height: 1023px) {
  #BE-parallax-images .parallax__layer--base { margin-top: 0vh; } #BE-ruby { margin-top: 100vh; margin-left: 35vw; }
  #BE-parallax-images { height: 160vh; }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  #BE-parallax-images { height: 200vh; }
  #BE-parallax-images .parallax__layer--deep { margin-top: 0vh; }
  #BE-parallax-images .parallax__layer--back { margin-top: 0vh; }
  #BE-parallax-images .parallax__layer--base { margin-top: 0vh; } #BE-ruby {  margin-top: 105vh; margin-left: 35vw; }
  #BE-parallax-images .parallax__layer--fore { margin-top: 0vh; } #BE-books { margin-top: 0vh; }
}
@media (min-width: 992px) and (max-width: 1023px) { 
  #BE-parallax-images { height: 180vh; }
  #BE-parallax-images .parallax__layer--deep { margin-top: 0vh; }
  #BE-parallax-images .parallax__layer--back { margin-top: 0vh; }
  #BE-parallax-images .parallax__layer--base { margin-top: 0vh; } #BE-ruby { margin-top: 100vh; margin-left: 35vw; }
  #BE-parallax-images .parallax__layer--fore { margin-top: 0vh; } #BE-books { margin-top: 0vh; }
}
@media (min-width: 768px) and (max-width: 991px) {
  #BE-parallax-images { height: 140vh; }
  #BE-parallax-images .parallax__layer--deep { margin-top: 0vh; }
  #BE-parallax-images .parallax__layer--back { margin-top: 0vh; }
  #BE-parallax-images .parallax__layer--base { margin-top: 0vh; } #BE-ruby { margin-top: 90vh; margin-left: 35vw; }
  #BE-parallax-images .parallax__layer--fore { margin-top: 0vh; } #BE-books { margin-top: 10vh; height: 110%; width: 110%; }
}
@media (min-width: 640px) and (max-width: 767px) {
  #BE-parallax-images { height: 115vh; }
  #BE-parallax-images .parallax__layer--deep { margin-top: 0vh; }
  #BE-parallax-images .parallax__layer--back { margin-top: 0vh; }
  #BE-parallax-images .parallax__layer--base { margin-top: 0vh; } #BE-ruby { margin-top: 80vh; margin-left: 35vw; }
  #BE-parallax-images .parallax__layer--fore { margin-top: 0vh; } #BE-books { margin-top: 10vh; height: 120%; width: 120%; }
}
@media (min-width: 550px) and (max-width: 639px) {
  #BE-parallax-images { height: 100vh; }
  #BE-parallax-images .parallax__layer--deep { margin-top: 0vh; }
  #BE-parallax-images .parallax__layer--back { margin-top: 10vh; height: 120vh; }
  #BE-parallax-images .parallax__layer--base { margin-top: 0vh; } #BE-ruby { margin-top: 60vh; margin-left: 35vw; }
  #BE-parallax-images .parallax__layer--fore { margin-top: 0vh; } #BE-books { margin-top: -15vh;  height: 110%; width: 110%; }
}
@media (min-width: 500px) and (max-width: 549px) {
  #BE-parallax-images { height: 95vh; }
  #BE-parallax-images .parallax__layer--deep { margin-top: 0vh; }
  #BE-parallax-images .parallax__layer--back { margin-top: 20vh; height: 120vh; }
  #BE-parallax-images .parallax__layer--base { margin-top: 0vh; } #BE-ruby { margin-top: 60vh; margin-left: 35vw; }
  #BE-parallax-images .parallax__layer--fore { margin-top: 0vh; } #BE-books { margin-top: -15vh; height: 110%; width: 110%; }
}
@media (min-width: 400px) and (max-width: 499px) {
  #BE-parallax-images { height: 90vh; }
  #BE-parallax-images .parallax__layer--deep { margin-top: 0vh; }
  #BE-parallax-images .parallax__layer--back { margin-top: 40vh; height: 120vh; background-size: 120%;}
  #BE-parallax-images .parallax__layer--base { margin-top: 0vh; } #BE-ruby { margin-top: 50vh; margin-left: 35vw; }
  #BE-parallax-images .parallax__layer--fore { margin-top: 0vh; } #BE-books { margin-top: -15vh; height: 115%; width: 115%; }
}
@media (min-width: 320px) and (max-width: 399px) {
  #BE-parallax-images { height: 80vh; }
  #BE-parallax-images .parallax__layer--deep { margin-top: 0vh; }
  #BE-parallax-images .parallax__layer--back { margin-top: 0vh; height: 100vh;}
  #BE-parallax-images .parallax__layer--base { background-size: 180%; } #BE-ruby { margin-top: 63vh; margin-left: 35vw; }
  #BE-parallax-images .parallax__layer--fore { margin-top: 0vh; } #BE-books { margin-top: -10vh; height: 115%; width: 115%; }
}
@media (min-width: 200px) and (max-width: 319px) {
  #BE-parallax-images { height: 70vh; }
  #BE-parallax-images .parallax__layer--deep { margin-top: 0h; }
  #BE-parallax-images .parallax__layer--back { margin-top: 0vh; height: 120vh;}
  #BE-parallax-images .parallax__layer--base { margin-top: 0vh; background-size: 180%; } #BE-ruby { margin-top: 43vh; margin-left: 35vw; }
  #BE-parallax-images .parallax__layer--fore { margin-top: 0vh; } #BE-books { margin-top: 0vh; height: 115%; width: 115%; }
}

/********************************/
/* ipad & ipad mini && iphone 6 */
/********************************/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : landscape) { 
  #BE-parallax-images { height: 160vh !important; }
  #BE-parallax-images .parallax__layer--base { margin-top: 5vh !important; }
  #BE-parallax-images .parallax__layer--fore { margin-top: 0vh !important; }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : portrait) { 
  #BE-parallax-images { height: 100vh !important; }
  #BE-parallax-images .parallax__layer--base { margin-top: 20vh !important; }
  #BE-parallax-images .parallax__layer--back { margin-top: 50vh !important; height: 120vh !important; }
  #BE-parallax-images .parallax__layer--fore { margin-top: 10vh !important; }
  #BE-ruby {  margin-top: 45vh !important; }
  #BE-books { margin-top: -5vh !important; }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) { 
  #BE-parallax-images { height: 70vh !important; }
  #BE-parallax-images .parallax__layer--base { margin-top: 10vh !important; }
  #BE-parallax-images .parallax__layer--back { margin-top: 40vh !important; height: 120vh !important; }
  #BE-parallax-images .parallax__layer--fore { margin-top: 10vh !important; }
  #BE-ruby {  margin-top: 45vh !important; }
  #BE-books { margin-top: -10vh !important; }
}
/*******************************/

/**********/
/* LOVING */
/**********/
#loving-parallax-section { z-index: 4; }

/******************************/
/* FRONT END ANIMATED SECTION */
/******************************/
#FE-parallax-section { z-index: 3; }
#FE-parallax-section .parallax__layer--deep { }
#FE-parallax-section .parallax__layer--base { }

/****************************/
/* FRONT END IMAGES SECTION */
/****************************/
#FE-parallax-images { z-index: 2; margin-top: 50vh; }
#FE-parallax-images .parallax__layer--deep { height: 200vh; background-size: 100%; background-repeat:no-repeat; background-image: url(/images/FE-space.svg);}
#FE-parallax-images .parallax__layer--back { }
#FE-parallax-images .parallax__layer--base { }
#FE-parallax-images .parallax__layer--fore { }
#FE-books { height: 100%; width: 100%; }
#FE-ipad { height: 40%; width: 90%; }

@media (min-width: 1366px) {
  #FE-parallax-images { height: 235vh; }
  #FE-parallax-images .parallax__layer--deep { margin-top: 0vh; }
  #FE-parallax-images .parallax__layer--back { margin-top: 0vh; }
  #FE-parallax-images .parallax__layer--base { margin-top: 0vh; } #FE-ipad { margin-top: 130vh; }
  #FE-parallax-images .parallax__layer--fore { margin-top: 0vh; } #FE-books { margin-top: 0vh; }
}
/* 1920 * 1280 */
@media (min-width: 1366px) and (max-height: 1280px) {
  #FE-parallax-images { height: 200vh; }
  #FE-parallax-images .parallax__layer--deep { margin-top: 0vh; }
  #FE-parallax-images .parallax__layer--back { margin-top: 0vh; }
  #FE-parallax-images .parallax__layer--base { margin-top: 0vh; } #FE-ipad { margin-top: 115vh; }
  #FE-parallax-images .parallax__layer--fore { margin-top: 0vh; } #FE-books { margin-top: 0vh; }
}
/* 1920 * 1080 */
@media (min-width: 1366px) and (max-height: 1080px) {
  #FE-parallax-images { height: 220vh; }
  #FE-parallax-images .parallax__layer--deep { margin-top: 0vh; }
  #FE-parallax-images .parallax__layer--back { margin-top: 0vh; }
  #FE-parallax-images .parallax__layer--base { margin-top: 0vh; } #FE-ipad { margin-top: 115vh; }
  #FE-parallax-images .parallax__layer--fore { margin-top: 0vh; } #FE-books { margin-top: 0vh; }
}
/* 1680 * 1050 */
@media (min-width: 1366px) and (max-height: 1050px) {
  #FE-parallax-images { height: 200vh; }
  #FE-parallax-images .parallax__layer--deep { margin-top: 0vh; }
  #FE-parallax-images .parallax__layer--back { margin-top: 0vh; }
  #FE-parallax-images .parallax__layer--base { margin-top: 0vh; } #FE-ipad { margin-top: 115vh; }
  #FE-parallax-images .parallax__layer--fore { margin-top: 0vh; } #FE-books { margin-top: 0vh; }
}
/* 1440 * 900 */
@media (min-width: 1366px) and (max-height: 900px) {
  #FE-parallax-images { height: 210vh; }
  #FE-parallax-images .parallax__layer--deep { margin-top: 0vh; }
  #FE-parallax-images .parallax__layer--back { margin-top: 0vh; }
  #FE-parallax-images .parallax__layer--base { margin-top: 0vh; } #FE-ipad { margin-top: 115vh; }
  #FE-parallax-images .parallax__layer--fore { margin-top: 0vh; } #FE-books { margin-top: 0vh; }
}
@media (min-width: 1366px) and (min-height: 1280px) {
  #FE-parallax-images { height: 210vh; }
  #FE-parallax-images .parallax__layer--deep { margin-top: 0vh; }
  #FE-parallax-images .parallax__layer--back { margin-top: 0vh; }
  #FE-parallax-images .parallax__layer--base { margin-top: 0vh; } #FE-ipad { margin-top: 115vh; }
  #FE-parallax-images .parallax__layer--fore { margin-top: 0vh; } #FE-books { margin-top: 0vh; }
}
@media (min-width: 1280px) and (max-width: 1365px) {
  #FE-parallax-images { height: 225vh; }
  #FE-parallax-images .parallax__layer--deep { margin-top: 0vh; }
  #FE-parallax-images .parallax__layer--back { margin-top: 0vh; }
  #FE-parallax-images .parallax__layer--base { margin-top: 0vh; } #FE-ipad { margin-top: 120vh; }
  #FE-parallax-images .parallax__layer--fore { margin-top: 0vh; } #FE-books { margin-top: 0vh; }
}  
@media (max-width: 1280px) and (min-height: 1023px) {
  #FE-parallax-images .parallax__layer--base { margin-top: 0vh; } #FE-ipad { margin-top: 100vh; }
  #FE-parallax-images { height: 160vh; }
}  
@media (min-width: 1024px) and (max-width: 1279px) { 
  #FE-parallax-images { height: 200vh;  }
  #FE-parallax-images .parallax__layer--deep { margin-top: 0vh; }
  #FE-parallax-images .parallax__layer--back { margin-top: 0vh; }
  #FE-parallax-images .parallax__layer--base { margin-top: 0vh; } #FE-ipad { margin-top: 105vh; } 
  #FE-parallax-images .parallax__layer--fore { margin-top: 0vh; } #FE-books { margin-top: 0vh; }
}
@media (min-width: 992px) and (max-width: 1023px) {
  #FE-parallax-images { height: 180vh; }
  #FE-parallax-images .parallax__layer--deep { margin-top: 0vh; }
  #FE-parallax-images .parallax__layer--back { margin-top: 0vh; }
  #FE-parallax-images .parallax__layer--base { margin-top: 0vh; } #FE-ipad { margin-top: 100vh; }
  #FE-parallax-images .parallax__layer--fore { margin-top: 0vh; } #FE-books { margin-top: 20vh; }
}
@media (min-width: 768px) and (max-width: 991px) {
  #FE-parallax-images { height: 140vh; }
  #FE-parallax-images .parallax__layer--deep { margin-top: 0vh; }
  #FE-parallax-images .parallax__layer--back { margin-top: 0vh; }
  #FE-parallax-images .parallax__layer--base { margin-top: 0vh; } #FE-ipad { margin-top: 80vh; }
  #FE-parallax-images .parallax__layer--fore { margin-top: 0vh; } #FE-books { margin-top: 10vh; }
}
@media (min-width: 640px) and (max-width: 767px) {
  #FE-parallax-images { height: 115vh; }
  #FE-parallax-images .parallax__layer--deep { margin-top: 0vh; }
  #FE-parallax-images .parallax__layer--back { margin-top: 0vh; }
  #FE-parallax-images .parallax__layer--base { margin-top: 0vh; } #FE-ipad { margin-top: 70vh; }
  #FE-parallax-images .parallax__layer--fore { margin-top: 0vh; } #FE-books { margin-top: 10vh; }
}
@media (min-width: 550px) and (max-width: 639px) {
  #FE-parallax-images { height: 100vh; }
  #FE-parallax-images .parallax__layer--deep { margin-top: 0vh; }
  #FE-parallax-images .parallax__layer--back { margin-top: 10vh; height: 120vh; }
  #FE-parallax-images .parallax__layer--base { margin-top: 0vh; } #FE-ipad { margin-top: 60vh; }
  #FE-parallax-images .parallax__layer--fore { margin-top: 0vh; } #FE-books { margin-top: 0vh;  margin-left: -15vw; height: 120%; width: 120%; }
}
@media (min-width: 500px) and (max-width: 549px) {
  #FE-parallax-images { height: 95vh; }
  #FE-parallax-images .parallax__layer--deep { margin-top: 0vh; }
  #FE-parallax-images .parallax__layer--back { margin-top: 20vh; height: 120vh; }
  #FE-parallax-images .parallax__layer--base { margin-top: 0vh; } #FE-ipad { margin-top: 60vh; }
  #FE-parallax-images .parallax__layer--fore { margin-top: 0vh; } #FE-books { margin-top: 0vh; margin-left: -15vw; height: 120%; width: 120%; }
}
@media (min-width: 400px) and (max-width: 499px) {
  #FE-parallax-images { height: 90vh; }
  #FE-parallax-images .parallax__layer--deep { margin-top: 0vh; }
  #FE-parallax-images .parallax__layer--back { margin-top: 40vh; height: 120vh; background-size: 120%; }
  #FE-parallax-images .parallax__layer--base { margin-top: 0vh; } #FE-ipad { margin-top: 50vh; }
  #FE-parallax-images .parallax__layer--fore { margin-top: 0vh; } #FE-books { margin-top: -15vh; margin-left: -15vw; height: 120%; width: 120%; }
}
@media (min-width: 320px) and (max-width: 399px) {
  #FE-parallax-images { height: 112vh; }
  #FE-parallax-images .parallax__layer--deep { margin-top: 0vh; }
  #FE-parallax-images .parallax__layer--back { margin-top: 0vh; background-size: 120%; height: 120vh;}
  #FE-parallax-images .parallax__layer--base { margin-top: 0vh; } #FE-ipad { margin-top: 67vh; }
  #FE-parallax-images .parallax__layer--fore { margin-top: 0vh; } #FE-books { margin-top: 15vh; margin-left: -15vw; height: 120%; width: 120%; }  
}
@media (min-width: 200px) and (max-width: 319px) {
  #FE-parallax-images { height: 85vh; }
  #FE-parallax-images .parallax__layer--deep { margin-top: 0vh; }
  #FE-parallax-images .parallax__layer--back { margin-top: 0vh; background-size: 120%; height: 120vh;}
  #FE-parallax-images .parallax__layer--base { margin-top: 0vh; } #FE-ipad { margin-top: 52vh; }
  #FE-parallax-images .parallax__layer--fore { margin-top: 0vh; } #FE-books { margin-top: 15vh; margin-left: -15vw; height: 120%; width: 120%; }
}

  /********************************/
  /* ipad & ipad mini && iphone 6 */
  /********************************/

  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : landscape) { 
    #FE-parallax-images { height: 160vh !important; }
    #FE-parallax-images .parallax__layer--base { margin-top: 5vh !important; }
    #FE-parallax-images .parallax__layer--fore { margin-top: 0vh !important; }
    #FE-ipad { margin-top: 85vh !important; margin-left: 0vh !important; }
    #FE-books { margin-top:10vh !important; margin-right: -0vh !important; }
  }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : portrait) { 
    #FE-parallax-images { height: 100vh !important; }
    #FE-parallax-images .parallax__layer--base { margin-top: 20vh !important; }
    #FE-parallax-images .parallax__layer--back { margin-top: 50vh !important; height: 120vh !important; }
    #FE-parallax-images .parallax__layer--fore { margin-top: 10vh !important; }
    #FE-ipad { margin-top: 45vh !important; margin-left: 0vh !important; }
    #FE-books { margin-top: -5vh !important; margin-right: -0vh !important; }
  }
  @media only screen and (min-device-width: 375px) and (max-device-width: 667px) { 
    #FE-parallax-images { height: 80vh !important; }
    #FE-parallax-images .parallax__layer--base { margin-top: 10vh !important; }
    #FE-parallax-images .parallax__layer--back { margin-top: 40vh !important; height: 120vh !important; }
    #FE-parallax-images .parallax__layer--fore { margin-top: 10vh !important; }
    #FE-ipad {  margin-top: 45vh !important; }
    #FE-books { margin-top: -10vh !important; }
  }
  /*******************************/

/********/
/* WORK */
/********/
#work-parallax-section {  z-index: 3; }

/***********/
/* CONTACT */
/***********/
#contact-parallax-section { z-index: 2; color: white; }
#contact-parallax-section .parallax__layer--base { height: 100vh; }
#contact-parallax-section .parallax__layer--back { height: 100vh; background-size: 100%; background-repeat:no-repeat; background-image: url(/images/contact-space.svg); }
 