/************/
/* SECTIONS */
/************/

#sections { }
h1 { font-size: 2.5em; font-weight: 200; }
h2 { font-size: 2em; font-weight: 200; color: #FF9933 }
h3 { font-size: 1.7em; font-weight: normal; color: rgba(56, 116, 167, 0.9); }
p { margin: 1.5em 0; } }
ul { margin: 0 0 1em 0; padding: 0 0 0 1em; /* make space for li's :before */ list-style: none; }
.list-text li { position: relative; padding-left: 2em; }
.list-text li:before { content: '\2022'; color: #FF9933; position: absolute; left: 0.5em; /* same as ul padding-left */ }
.sublist-text ul:before { content: '\2022'; }
.sublist-text li { position: relative; padding-left: 4em; }
.sublist-text li:before { content: '\00B0'; color: #FF9933; position: absolute; left: 2em; /* same as ul padding-left */ }
hr { border-color: rgba(255, 255, 255, 0.1) !important; margin-bottom: 2em; margin-top: 2em; }
.section { padding-bottom:5%; background-color: #131212; color: white; -webkit-box-shadow: inset 0px 0px 21px 5px rgba(163,161,163,0.27); -moz-box-shadow: inset 0px 0px 21px 5px rgba(163,161,163,0.27); box-shadow: inset 0px 0px 21px 5px rgba(163,161,163,0.27); border-radius: 10px 10px 10px 10px; -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px; border: 0px solid #000000; }
.section a { color: rgba(56, 116, 167, 0.9); transition: all .5s ease-in-out; }
.section a:hover { color: #FF9933; transition: all .5s ease-in-out; }

blockquote { background-color: rgba(19, 65, 99, 0.3); border-left: 10px solid rgba(19, 65, 99, 0.7); margin: 1.5em 10px; padding: 0.5em 10px; quotes: "\201C""\201D""\2018""\2019"; font-size: 1em; }
blockquote:before { color: rgba(19, 65, 99, 0.7); content: open-quote; font-size: 4em; line-height: 0.1em; margin-right: 0.25em; vertical-align: -0.4em; }
blockquote p { display: inline; }

#about { }
#loving { }
#work { }
#contact { }
#BESide { padding-top: 20vh; }
#FESide { padding-top: 20vh; }
#creativity { padding-top: 0vh; }

/*********************/
/* Animated Sections */
/*********************/
.visibility-hidden { opacity:0; transition: opacity 1s linear; }
.visibility-visible { opacity:1; transition: opacity 1s linear; }

.animated-section { color: white; padding: 5vh; width: 100%; -webkit-box-shadow: inset 0px 0px 21px 5px rgba(163,161,163,0.27); -moz-box-shadow: inset 0px 0px 21px 5px rgba(163,161,163,0.27); box-shadow: inset 0px 0px 21px 5px rgba(163,161,163,0.27); border-radius: 10px 10px 10px 10px; -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px; border: 0px solid #000000; }
.animated-section-img { margin-top: 2vh; width: 100%; height: 100%; }

/* Small devices (tablets, 680px and up)*/
@media (min-width: 680px) { .animated-section-img { width: 80%; height: 80%;  } }
/* Extra small Devices, (phones, 1024px and up) */
@media (min-width: 1024px) { .animated-section-img { width: 70%; height: 70%; margin-left:25%; } }
/* Extra small Devices, (phones, 1900px and up) */
@media (min-width: 1900px) { .animated-section-img { width: 60%; height: 60%; margin-left:35%; } }
/* ***************** */

#cv-wrapper { position: relative; height: 4em; margin: 2%; }
#cv img.ri { position: absolute; top: 10%; left: 10%; -webkit-transition: opacity 1s ease-in-out; -moz-transition: opacity 1s ease-in-out; -o-transition: opacity 1s ease-in-out; transition: opacity 1s ease-in-out; }
#cv img.ri:empty { top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
#cv img.top:hover { opacity:0; }

#github-wrapper { position: relative; height: 4em; margin-left: 2%; }
#github img.ri { position: absolute; top: 10%; left: 10%; -webkit-transition: opacity 1s ease-in-out; -moz-transition: opacity 1s ease-in-out; -o-transition: opacity 1s ease-in-out; transition: opacity 1s ease-in-out; }
#github img.ri:empty { top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
#github img.top:hover { opacity:0; }

.icon-head-wrapper { position: relative; margin-left: 2%; }
.icon-head img { height: 1.5em; }
#quidditch-ball img { height: 2.5em; }

/*==========  RESPONSIVENESS  ==========*/

@media screen and (orientation: portrait) { #cv img.ri { max-width: 10%; } #github img.ri { max-width: 20%; } }
@media screen and (orientation: landscape) { #cv img.ri { max-height: 90%; } #github img.ri { max-height: 100%; } }

/* Small devices (tablets, 200px and down)*/
@media (min-width: 200px) { .section { padding-top:35%; } }

/* Extra small Devices, (phones, 320 and up) */
@media (min-width: 320px) { .section { padding-top:5%; } }

/* Extra small Devices, (phones, 480px and up) */
@media (min-width: 500px) { .section { padding-top:15%; } }

/*////////////////////////////////////*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { .section { padding-top:5%; padding-bottom:5%; } }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { .section {  } }

/* Large devices (large desktops, 1280px and up) */
@media (min-width: 1280px) { .section {  } }

/* Large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) { .section {  } }

/*////////////////////////////////////*/

/* Extra large devices (extra large desktops, 1600px and up) */
@media (min-width: 1600px) { .section { padding-top:10%; } }

/* Extra large devices (extra large desktops, 2000px and up) */
@media (min-width: 2000px) { .section { padding-top:10%; } }

/* Extra large devices (extra large desktops, 2500px and up) */
@media (min-width: 2500px) { .section { padding-top:10%; } }

/* Extra large devices (extra large desktops, 3000px and up) */
@media (min-width: 3000px) { .section { padding-top:10%; } }

/* Extra large devices (extra large desktops, 3500px and up) */
@media (min-width: 3500px) { .section { padding-top:10%; } }
