<div id="about" class="section">
    <div class="container custom-fluid-container">

        <h1 class="text-center">About</h1>
        <hr>

        <p>Since university I´ve always been interested in software design for complex problems.<br>
        I wanted the difficult, the tangled, the tricky and I was exited about the opportunity to belong to a company where I could learn how to deal with it.
        Where the only way to modelize all that was a tremendous mastery of dessign patterns and programming technical skills.
        
        <p>And although I haven´t forgotten about it and I always recognize and value this kind of work, I see things now quite differently.

        <p>There is nothing in this world I admire more than the ability to change, to adapt, to beat the unsecurity of the unknown and to be beyond the comfort and the tradicion.<br>
        I am delighted by the art of recognizing when something is over or gone and must be forgotten, reinvented or renewed.<br>
        Because I strongly believe that anyone´s happiness or any company´s survival depends at the very end, in one way or another on this factor.
        <br>
        I only get impressed by people´s or enterprises´ dynamism. I am only interested when agility and creativity are essential adjectives that describe their culture, philosophy and methodology.<br>
        I believe creativity is not a particullar skill that can be improved, something that you learn or not. Creativity ain´t knowledge nor memory. It´s in the new, and only a way of thinking that forgets its assumptions and obsolete traditions reaches creativity.
        
        <p>I am looking for a job where responsability, objectives and communication are the only things that matter.<br>
        I´ve seen the wonderful thing about working where and when I want and I´ve never reached such productivty in my life.
        <p>It is crystal clear for me that productivity has nothing to do with the numbers of hours sat in an office, the number of incidences solved and the number of commited lines of code. But rather with free commitment and total sense of responsability, with doing what you love and freely decide to do.<br>
        Because only when there is freedom and love for what you do there is no complain of any type. There is full attention, full commitment and the sense of responsibility comes from within.<br>
        Only if complaint doesn´t arise, there is happiness. 
        
        <p>I believe today there are plenty of assumptions about how, when and where we must work.<br>
        I marvel at people who has understood the dangerous implications of the assumption.<br>
        I believe we are lucky in our profession, and software engineering can be done in many different ways, of course none of them absolutely perfect, each one with its own limitations.<br>
        
        <p>I like to decide when is the moment to work, which doesn´t neccesary have to be at 8:00AM everyday.<br>
        It could be at anytime. I could be splited in improvised and asymetric periods. It could be in the middle of the night, at lunch or breakfast time. It could be for 200 hours in a row or it could need a 24 hours break with non thinking at all. I believe there is a huge potetial if you don´t put boundaries at the mind to do what she loves when she loves.<br>
        I strongly stand for the sense of responsability as the only real requirement.
        I like to work anywhere I can find a minimum concentration, which doesn´t necessary have to be at an static place.<br>
        It could be in a plain heading to anywhere, at a cafe looking at the sunset, in a train, at my home or in the library.

        <blockquote>Creativiy arises when thought pulls apart the stipulated, its traditions, its asumptions, its conditioning</blockquote>

        <p>I am specially interested in working with people that share anything exposed above.<br>
        I know in the last few years many companies have founded new approaches, new perspectives in their way of working and I think I could be a great asset to them.
       
    </div>
</div>