<div id="about" class="section">
    <div class="container custom-fluid-container">

        <h1 class="text-center">About</h1>
        <hr>

        <p>Since I finished university I always wanted to work in a big company and big and complex products.<br>
        I wanted the complex, the tangled, the tricky and I was exited about the opportunity to learn how to deal with it.
        Where the only way to modelize all that was a tremendous mastery of dessign patterns and developing technical skills.<br>
        And although I haven´t forgotten about all that and I recognize and admire any work like this, now I see things quite differently.</p>

        <p>There is nothing in this world I admire more than the ability to change, to adapt, to beat the unsecurity of the unknown, to be over the comfort of the tradicion and be aware of it.<br>
        I am delighted by the art of recongnition what is over and must be reinvented and renewed. Because I strongly believe that anyone´s happiness or any company´s survival depends in one way or another, at the very end on this factor.
        <br>
        And that´s why I just get impressed by people´s or companies dynamism, if agility or creativity are essential adjectives that describe their culture, philosophy or methodology.<br>
        I believe creativity is not a particullar skill that can be improved, something that you learn or not. Creativity ain´t knowledge nor memory. Creativity is the new, and only the thought forgetting its assumptions and old traditions reaches creativity.</p>
        
        <p>I am looking for a company that has understood that their old methods are not the only methods and it has the courage to change to something else. When necessary, if necessary.<br>
        I am looking for a job where responsability, objectives and communication, are the only things that matter.
        I´ve seen the wonderful thing about working where and when I want. I´ve never reached such productivty in my life. <br>
        There is absolutely nothing wrong about going to an office but I believe most of the people has accepted this as the way life is, and most of the companies have acquire an specfic way of thinking, a specific methodology and assumed that´s the only way of working.</p>
        <p>But it is not. <br>It is crystal clear for me that productivity has nothing to do with the numbers of hours sat in a stipulated place, the number of incidences solved and the number of commited lines of code, but rather with doing what you freely decide to do. Only when there is a free commitment with what you love then there is no complain of any type. And only when complaint doesn´t arise, there is happiness</p> 
        
        <p>I believe today there are plenty of assumptions about how, when and where we must work.<br>
        I marvel at people who has understood the implications of the assumption, the danger of the static nature of that.<br>
        I believe that we are lucky, and software can be done in many different ways, of course none of them absolutely perfect, each one with its own limitations.<br></p>
        <p>I like to decide working when is the moment to work, which doesn´t neccesary have to be at 8:00AM everyday.<br>It could be at anytime. I could be sometimes splited in improvised and asymetric periods. It could be in the middle of the night, at lunch or breakfast time. It could be for 200 hours in a row or it could need a 24 hours break with non thinking at all. I believe there is a huge potetial if you don´t put boundaries at the mind to do what she loves when she loves.<br>
        I like to work anywhere I can find a minimum concentration, which doesn´t necessary have to be at an static office.<br>
        It could be in a plain heading to anywhere, at a cafe looking at the sunset, in a train, at my home or the library.
        I believe there is a huge potetial if you don´t put boundaries at the mind to do what she loves where she loves.</p>

        <blockquote>Creativiy arises when thought pulls apart the stipulated, its traditions, its asumptions, its conditioning</blockquote>

        <p>I am specially interested on wroking with people that share´s anything exposed above.<br>
        I know in the last few years many companies have founded new approaches, new perspectives in their way of working and I think I could be a great asset to them.</p>
       
    </div>
</div>