<div id="about" class="section">
    <div class="container custom-fluid-container">

        <h1 class="text-center">About</h1>
        <hr>

        <p>Since university I´ve always been interested in software design for complex problems.<br>
        I wanted the difficult, the tangled, the enormous, the tricky and I was exited about the opportunity to belong to a company where I could learn how to deal with it.
        Where the only way to modelize all that was a tremendous mastery of dessign patterns and programming technical skills. And although I haven´t forgotten about it now I see things quite differently.

        <p>There is nothing in this world I admire more than the ability to change, to adapt, to beat the unsecurity of the unknown and to be beyond the comfort and the tradicion.<br>
        I am delighted by the art of recognizing when something is over or gone and must be forgotten, reinvented or renewed.<br>
        Because I strongly believe that anyone´s happiness or any company´s survival depends at the very end, in one way or another on this factor.<br>
        I only get impressed by people´s or enterprises´ dynamism, when agility and creativity are the essential adjectives that describe their culture, philosophy and methodology.<br>
        I believe creativity is not a particullar skill that can be improved, something that you learn or not. Creativity ain´t knowledge nor memory. It´s in the new, and only a way of thinking that forgets its assumptions and obsolete traditions reaches creativity.
        
        <p>I am looking for a job where responsibility objectives and communication are the only things that matter.<br>
        I´ve seen the wonderful thing about working where and when I want and I´ve never reached such productivty in my life.

        <p>It is crystal clear for me that productivity has nothing to do with the number of hours sat in an office, the number of incidences solved or the number of commited lines of code. But rather with free commitment and total sense of responsibility with doing what you love and freely decide to do.<br>
        Because only when there is freedom and love for what you do there is no complain of any type. There is full attention, full commitment and the sense of responsibility comes from within.<br>
        Only if complaint doesn´t arise, there is happiness. 
        
        <p>I am looking for remote working.<br>
        I believe there is a huge potetial if you don´t put boundaries at the mind to do what she loves when she loves.<br>
        I strongly stand for the sense of responsibility as the only real requirement.
        I like to work anywhere I can find a minimum of concentration, which certainly doesn´t necessary have to be at a static place.<br>

        <p>I am specially interested in working with people that share anything exposed above.<br>
        I know in the last few years many companies have founded new approaches, new perspectives in their way of working and I think I could be a great asset to them.
       
    </div>
</div>