<a href="#back-end" du-scrollspy></a>
<div id="back-end">
    <div animated-section triggeredby="back-end" triggeredon="active" animatedin="zoomIn" animatedout="zoomOut">
        <div class="container custom-fluid-container">
            <div class="animated-section animated visibility-hidden">
                <h2 class="text-center">The Back-End</h2>
                <p>So there is the Back-end side with hundreds of millions servers.<br>
                And when working on the server side you´re focused on the interchange of data between the application and the browser. And you shall know:<br></p>
                <ul class="list-unstyled list-text">
    	            <li>Algorithms and data structures and their performance characteristics.</li>
    	            <li>Programming paradigms, databases, architecture patterns like MVR, REST etc.</li>
    	            <li>Best practices for efficient and easier to maintain code, Quality Assurance, migrating data, scripting migration of data, security etc.</li>
    	            <li>AND SO ON...</li>
                </ul>
            </div>
        </div>
    </div>
    <div animated-section id="back-end-diagram" class="diagram" triggeredby="back-end" triggeredon="active" animatedin="fadeInLeft" animatedout="fadeOutLeft">
        <div class="animated-section animated visibility-hidden"
            style="-moz-animation-delay: 0.5s; -webkit-animation-delay: 0.5s; -ms-animation-delay: 0.5s;">
            <img class="animated-section-img" src="/images/BE-diagram.svg" alt="The Server Side" title="The Server Side"/>  
        </div>
    </div>
</div>