<a href="#BESide" du-scrollspy></a>
<div animated-section id="BESide"  animated="true" triggeredby="BESide" animatedin="zoomIn" animatedout="zoomOut">
    <div class="container custom-fluid-container">
        <div class="animated-section animated visibility-hidden">
            <h2 class="text-center">The Back-End</h2>
            <p>So there is the Back-end side where there are multiple all kind of servers.<br>
            And when developing a web site, several things are needed for both: to create a grate DEV context and ensure the QA of your code.<br>
            <!--<img class="animated-section-img" src="/images/BESide-diagram.svg" alt="Internet: The server side" title="Internet: The server side"/>-->
        </div>
    </div>
</div>