<a href="#connectivity" du-scrollspy></a>
<div id="connectivity">
    <div lightup-text section="connectivity" class="section-title h2-title text-gray">Connectivity</div>
    <div animated-section triggeredby="connectivity" triggeredon="active" animatedin="fadeIn" animatedout="fadeOut">
        <div class="custom-fluid-container">
            <div class="animated-section visibility-hidden">            
                <p align="center">There are 2 sides in the world of connectivity.<br>
                And I´m not talking about the Dark-side and the Light-side.<br>
                I´m talking about the Client-Side and the Server-Side.<br>
                Two different worlds, interconected by the Cloud, where Software Developers must learn how to get along with multiple disciplines, coding in several languages, domaining the full stack architecture...<br>
                Where everything will be possible as long as creativity arises...
            </div>
        </div>
    </div>
    <div animated-section id="client-server-diagram" class="diagram" triggeredby="connectivity" triggeredon="active" animatedin="fadeIn" animatedout="fadeOut">
        <div class="animated-section visibility-hidden"
        style="-moz-animation-delay: 0.5s; -webkit-animation-delay: 0.5s; -ms-animation-delay: 0.5s;">
            <img class="animated-section-img" src="/images/CS-diagram.svg" alt="The Client/Server" title="The Client/Server"/>  
        </div>
    </div>
</div>