<a href="#connectivity" du-scrollspy></a>
<div animated-section id="connectivity" triggeredby="connectivity" triggeredon="active" animatedin="flash" animatedout="flipOutX">
    <div class="container custom-fluid-container">
        <div class="animated-section animated visibility-hidden">
            <h2 class="text-center">Connectivity</h2>
            <p>There are 2 sides in the universe of connectivity.<br>
            And I´m not talking about the Dark-side and the Light-side.<br>
            I´m talking about the Client-Side and the Server-Side.<br>
            Two different worlds, interconected by the Cloud, where Software Developers must learn how to get along domaining multiple disciplines, coding in multiple languages, gaining in expertise...<br>
            Where everything will be possible as long as creativity arises...
        </div>
    </div>
</div>
<div animated-section id="client-server-diagram" class="diagram" triggeredby="connectivity" triggeredon="active" animatedin="flipInY" animatedout="zoomOut">
    <div class="animated-section animated visibility-hidden"
    style="-moz-animation-delay: 0.5s; -webkit-animation-delay: 0.5s; -ms-animation-delay: 0.5s;">
        <img class="animated-section-img" src="/images/CS-diagram.svg" alt="The Client/Server" title="The Client/Server"/>  
    </div>
</div>