<a href="#connectivity" du-scrollspy></a>
<div animated-section id="connectivity" animated="true" triggeredby="connectivity" animatedin="flash" animatedout="flipOutX">
    <div class="container custom-fluid-container">
        <div class="animated-section animated visibility-hidden">
            <h2 class="text-center">Connectivity</h2>
            <p>There are 2 sides in the universe of connectivity. And I´m not talking about the Dark-side and the Light-side.<br>
            I´m talking about the Client-Side and the Server-Side. Two different worlds, interconected by the Cloud, where Web developers must domain the disciplines, understand the rules, to gain in expertise...<br>
            Where everything will be possible as long as creativity arises...
        </div>
    </div>
</div>