<div id="contact">    	
    <div class="contact-row">
    	<div id="social-links">
	        <span id="mail-button" class="circle"><a href="" ng-click="toggleSocialButton('mail')"><i class="fa fa-fw fa-envelope-o"></i></a></span>
	        <span id="linkedin-button" class="circle"><a href="https://es.linkedin.com/in/estevezdani" target="_blank_"><i class="fa fa-fw fa-linkedin"></i></a></span>
	        <span id="phone-button" class="circle"><a href="" ng-click="toggleSocialButton('phoneNumber')"><i class="fa fa-fw fa-phone"></i></a></span>
	    </div>
    </div>
    <div class="contact-row">  
    	<div id="contact-info">
    		{{ contactInfo }}
    	</div>
    </div>
    <div class="contact-row centered">
	    <div id="et-sentence">
	    	...I´ll be...right...here...
	    </div>  
	</div>
	<div class="contact-row">
	    <div id="et-contact-scene"></div>  
	</div>
</div>
