<div id="contact">    
        <div class="text-center"  style="margin: 5vh;">
        Grab a phone, connect to the cloud and letmake contact
        </div>
        <!--<img style="border: solid white;" src="http://school.redradix.com/system/professors/avatars/000/000/009/thumb/foto-perfil.png?1425470698" class="img-responsive img-circle centered" alt="">-->
        <div id="social-links" class="text-center" style="margin-bottom: 5vh;">
            <a><i class="fa fa-envelope-o circle"></i></a>
            <a><i class="fa fa-linkedin circle"></i></a>
            <a><i class="fa fa-phone circle"></i></a>
        </div>
        <div id="copyright" class="text-center">
        sd´lkfsdjlkfdñasklf
        </div>        
    </div>
</div>