<a href="#cover" du-scrollspy></a>
<div id="cover">
    <div id="cover-navbar-wrapper" class="container-fluid custom-fluid-container">
        <div id="cover-navbar" class="navbar navbar-custom-cover hidden-sm hidden-xs hidden-xxs hidden-tn">
            <ul class="nav navbar-nav nav-cover">
                <li class="visibility-hidden" style="-moz-animation-delay: 1.5s; -webkit-animation-delay: 1.5s; -ms-animation-delay: 1.5s;"><a href="#about" du-smooth-scroll du-scrollspy="about" duration="1000"><span>About</span><i class="fa fa-2x icon-boomerang-solid"></i></a></li>
                <li class="visibility-hidden" style="-moz-animation-delay: 2.2s; -webkit-animation-delay: 2.2s; -ms-animation-delay: 2.2s;"><a href="#loving" du-smooth-scroll du-scrollspy="loving" duration="1500"><span>Loving&nbsp;&nbsp;&nbsp;</span><i class="fa fa-2x fa-heart"></i></a></li>
                <li class="visibility-hidden" style="-moz-animation-delay: 2.5s; -webkit-animation-delay: 2.5s; -ms-animation-delay: 2.5s;"><a href="#work" du-smooth-scroll du-scrollspy="work" duration="2000"><span>Work&nbsp;&nbsp;&nbsp;</span><i class="fa fa-2x fa-suitcase"></i></a></li>
                <li class="visibility-hidden" style="-moz-animation-delay: 1.8s; -webkit-animation-delay: 1.8s; -ms-animation-delay: 1.8s;"><a href="#contact" du-smooth-scroll du-scrollspy="contact" duration="2500"><span>Contact&nbsp;&nbsp;&nbsp;</span><i class="fa fa-2x fa-wechat"></i></a></li>
            </ul>
        </div> 
        <div id="cover-responsive-navbar" class="hidden-md hidden-lg">
            <div id="scroll-right-arrow" class="text-center hidden-md hidden-lg">
                <span class="fa faa-passing"><i class="fa fa-2x fa-angle-right"></i><i class="fa fa-2x fa-angle-right"></i></span>
            </div>
            <ul class="nav-cover-responsive">
                <li style="margin-right: 9%;"><a href="#about" du-smooth-scroll du-scrollspy="" duration="1000"><span>About</span><i class="fa fa-2x icon-boomerang-solid"></i></a></li>
                <li><a href="#loving" du-smooth-scroll du-scrollspy="" duration="1500"><span>Loving&nbsp;&nbsp;&nbsp;</span><i class="fa fa-2x fa-heart"></i></a></li>
                <li><a href="#work" du-smooth-scroll du-scrollspy="" duration="2000"><span>Work&nbsp;&nbsp;&nbsp;</span><i class="fa fa-2x fa-suitcase"></i></a></li>
                <li><a href="#contact" du-smooth-scroll du-scrollspy="" duration="2500"><span>Contact&nbsp;&nbsp;&nbsp;</span><i class="fa fa-2x fa-wechat"></i></a></li>
            </ul>
        </div>
    </div>
    <div id="cover-content">
        <div class="cover-content-row">            
            <div class="cover-text">
                <span id="name" class="visibility-hidden" style="-moz-animation-delay: 2.5s; -webkit-animation-delay: 2.5s; -ms-animation-delay: 2.5s;">Daniel Estévez</span>
                <br>
                <span id="skills-1" class="skills visibility-hidden" style="-moz-animation-delay: 3s; -webkit-animation-delay: 3s; -ms-animation-delay: 3s;">Software Engineer</span>
                <span id="skills-2" class="skills visibility-hidden" style="-moz-animation-delay: 3.5s; -webkit-animation-delay: 3.5s; -ms-animation-delay: 3.5s;">Full Stack Web Developer</span>
            </div>
        </div>
    </div>
    <div id="cover-footer">
        <div id="scroll-down" class="text-center visibility-hidden" style="-moz-animation-delay: 3s; -webkit-animation-delay: 3s; -ms-animation-delay: 3s;"><a href="#connectivity" du-smooth-scroll du-scrollspy="" duration="1000"><i class="fa fa-fw fa-chevron-down fa-3x"></i></a></div>
    </div>
</div>