<a href="#creativity" du-scrollspy></a>
<div id="creativity">
    <div class="container custom-fluid-container">
        <div class="animated-section animated visibility-hidden">
            <h2 class="text-center">Creativity</h2>
            <p>And there is the Back-end side. All type of screen devices connected to the cloud.<br>
            Consuming {{textSectionsHeight.creativity}}<br>
            <!--<img class="animated-section-img" src="/images/quidditch-ball.svg" alt="" title=""/>-->
        </div>
    </div>
</div>