<a href="#creativity" du-scrollspy></a>
<div id="creativity">
	<div class="animated-title">Creativity</div>
	<div animated-section animated="true" triggeredby="creativity" triggeredon="active" animatedin="zoomIn" animatedout="fadeOut">
	    <div class="custom-fluid-container">
	        <div class="animated-section animated visibility-hidden">
	            <p align="center">Because at the very end, everything is about creativity.<br>
	            You must be creative in other to start up something, in order to survive and adapt to upcoming changes or in order to make the difference executing the idea nobody has.<br>
	            Creativity is not an abstract or philosophical thing.<br>
	            But a simple and logical fact: Something didn´t exist and now it does.<br>
	            And it`s when you love what you do and don´t put boundaries to the what, how, when and where to do it that you are bound to create amazing things.
	        </div>
	    </div>
	</div>
</div>