<a href="#creativity" du-scrollspy></a>
<div animated-section id="creativity" animated="true" triggeredby="creativity" animatedin="zoomIn" animatedout="zoomOut">
    <div class="container custom-fluid-container">
        <div class="animated-section animated visibility-hidden">
            <h2 class="text-center">Creativity</h2>
            <p><blockquote>Creativiy arises when thought pulls apart the stipulated, its traditions, its asumptions, its conditioning</blockquote><br>
        </div>
    </div>
</div>