<a href="#front-end" du-scrollspy></a>
<div id="front-end">
    <div animated-section triggeredby="front-end" triggeredon="active" animatedin="pulse" animatedout="jello">
        <div class="animated-section animated"><h2 class="text-center">The Front-End</h2></div>
    </div>
    <div animated-section  triggeredby="front-end" triggeredon="active" animatedin="zoomIn" animatedout="zoomOut">
        <div class="container custom-fluid-container">
            <div class="animated-section animated visibility-hidden">
                <p align="center">And there is the Front-end side with hundreds of millions of devices asking for informtion.<br>
                And when working on the client side you´re focused on the presentation of the data provided by the server. And you shall know:<br></p>
                <div id="multiColumn">
                    <ul class="list-unstyled list-text table-display">
        	            <li>The key server-side web development concepts.</li>
        	            <li>Web or graphic design, HTML, CSS, JS, JQuery, responsive design principles.</li>
                        <li>Know client FRWs such as AngularJS, Backbone, EmberJS, etc.</li>
        	            <li>Testing cross-browser, cross-platform, and/or cross-device compatibility for inconsistencies.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div animated-section id="front-end-diagram" class="diagram" triggeredby="front-end" triggeredon="active" animatedin="fadeInRight" animatedout="fadeOutRight">
            <div class="animated-section animated visibility-hidden"
                style="-moz-animation-delay: 0.5s; -webkit-animation-delay: 0.5s; -ms-animation-delay: 0.5s;">
                <img id="FE-image" class="animated-section-img" src="/images/FE-diagram.svg" alt="The Client Side" title="The Client Side"/>  
            </div>
    </div>
</div>