<div id="loving" class="section crystal">
    <div class="custom-fluid-container fluid-section">

         <div lightup-text section="loving" class="section-title h1-title text-gray">Loving</div>
        <hr>
        <p>My heart is always been at the Back-end side. I´ve always been amazed about design patterns and the art of making growing software modular and scalable. I never had any special feeling about the UI side.
        
        <p>But then, a few years ago, world changed. With all kind of screen sizes moving arround,  the world has reinvented itself. Connected through a cloud that has incredibly grown in capabilities. So many kind of devices, so many new concepts to be created.<br>
        Reaching a point that the art of UX has been inevitably stablished and web development has become something with tremendous potential. With plenty of new frameworks that provide us a way to reach this potential.

        <p>We all have had very nice ideas. And enjoy searching for them. But sooner or later someone learns that there is no idea without its execution.<br>
        So I decided I´d love to be able to execute anyting could came to my mind, to learn the Full-Stack. And I am using <a href="http://en.wikipedia.org/wiki/MEAN_%28software_bundle%29" target="_blank_">MEAN</a>:<br>

        <ul class="list-unstyled list-text">
            <li>I enjoy with <a href="https://angularjs.org/" target="_blank_">AngularJS</a> especially now that I´ve gone deep into the framework, now that I completely understand the pourpose of its components. When to use what and when not to. And what´s even more important: to comprehend its limitations.</li>
            <li>I admire their decision for such a radical change at <a href="https://angular.io/" target="_blank_">AngularJS 2</a>, getting rid of so many basic components and concepts of the first framework. I think it´s what was needed and I am looking forward to give it a shot.</li>
            <li>I like pure <a href="http://en.wikipedia.org/wiki/Representational_state_transfer" target="_blank_">REST APIs</a> architecture for CRUD apps and I enjoy developing them with <a href="http://expressjs.com/" target="_blank_">Express</a>.</li>
            <li>I am pleased by storing data rich structures in <a href="http://www.mongodb.com/" target="_blank_">MongoDB</a> without actually caring about what and how those structures are.</li>
            <li>And although I´ll always love OOP, I have to admit that it is kind of cool developing with <a href="https://nodejs.org/" target="_blank_">NodeJS</a> a Back-end that works concurrently and in the same language as my Front-end.</li>
        </ul>
        
        <p>And I don´t remember my self to enjoy creating software as I do it right now, and that´s why I am sure I´m a grate asset.

    </div>
</div>