<div id="loving" class="section">
    <div class="container custom-fluid-container">

        <h1 class="text-center">Loving</h1>
        <hr>
        <p>My heart is always been at the back-end side. I´ve always been amazed about design patterns and the art of making growing software modular and scalable. I never had any special feeling about the UI side.
        
        <p>And then, a few years ago, a huge technological revolution changed things, right?.<br>
        The world has reinvented itself, with all kind of screen sizes moving arround, and all connected by a cloud that has inclredibly grown in capabilities.<br>
        So many kind of devices, so many new concepts to be created.<br>
        Reaching a point that the art of UX has been stablished and web development has become something with tremendous potential and plenty of new frameworks that provide us a way to reach this potential.

        <p>We all have had really cool ideas. And enjoy looking for them. 
        But sooner or later everyone learns that there is no idea without its execution.
        So a couple of years ago I decided I´d love to be able to execute anyting that came to my mind.
        And so I decided to became Full-Stack Web developer.
        And this is what I enjoy today and I am focused doing it with <a href="http://en.wikipedia.org/wiki/MEAN_%28software_bundle%29" target="_blank_"><b>MEAN</b></a>.
        
        <p>And hey, everything changes and I am sure there are plenty of projects that have nothing to do with what I do now and that I´d love to participate in, and so I am all ears.But this is what I love doing today:
        <ul class="list-unstyled list-text">
            <li>I enjoy <a href="https://angularjs.org/" target="_blank_"><b>AngularJS</b></a> especially now that I´ve gone deep into the framework, now that I understand the pourpose its components, when to use what and when not to. And much more important: to get its limitations.</li>
            <li>I admire their decision to such a radical change for <a href="https://angular.io/" target="_blank_"><b>AngularJS 2</b></a>, getting rid of so many basic components and concepts of the first framework. I think it´s what was needed and I am looking forward to give it a shot</li>
            <li>I like <a href="http://en.wikipedia.org/wiki/Representational_state_transfer" target="_blank_"><b>REST APIs</b></a> now I am happy developing pure with <a href="http://expressjs.com/" target="_blank_"><b>Express</b></a>.</li>
            <li>I am pleased by storing data rich structures in <a href="http://www.mongodb.com/" target="_blank_"><b>MongoDB</b></a> without actually caring about what and how  this structures are.</li>
            <li>And although I´ll always love OOP, I have to admit that it is kind of cool developing with <a href="https://nodejs.org/" target="_blank_"><b>NodeJS</b></a> a back-end that works concurrenty and in the same programming language as my Front-end.</li>
        </ul>
        
        <p>I strongly believe productivity arises with the ability to find what you freely decide to do and simply love to do.
        And I don´t remember my self enjoying creating software as I do it right now, and that´s why I am sure I´m a good asset.

    </div>
</div>