<a href="#remoteWorking" du-scrollspy></a>
<div id="remoteWorking">
	<div animated-section triggeredby="remoteWorking" triggeredon="active" animatedin="zoomIn" animatedout="zoomOut">
       	<div class="animated-section animated visibility-hidden">
       		<!--<div id="scroll-down" class="text-center"><a href="#creativity" du-smooth-scroll du-scrollspy duration="1000"><i class="fa fa-fw fa-chevron-up fa-3x"></i></a></div>-->
        	<div class="container custom-fluid-container">
				<blockquote>Creativiy arises when thought pulls apart the stipulated, its traditions, its asumptions, its conditionings.</blockquote>
			</div>
        </div>
	</div>
	<div animated-section id="lightbulb-remote" triggeredby="remoteWorking" triggeredon="active" animatedin="zoomIn" animatedout="zoomOut">
       	<div class="animated-section animated visibility-hidden"
        	style="-moz-animation-delay: 1s; -webkit-animation-delay: 1s; -ms-animation-delay: 1s;">
        	<img id="lightbulb-remote-image" class="animated-section-img" src="/images/lightbulb-remote.svg" alt="The Insight" title="The Insight"/>  
        </div>
	</div>
</div>