<div id="work" class="section">
	<div class="container custom-fluid-container">
	
        <h1 class="text-center">Work</h1>
        <hr>
    
    	<h2 class="text-center">Software Engineer</h2>
		<p>
		Just before I started my period as a Freelancer, I had the grate opportunity to work at Amadeus.
		A huge company that develops worldwide products. The biggest <a href="" target="_blank_"><b>GDS</b></a> of the world, with the 90%.
		Multiple products where the reusability of code is essential.<br>
		Millions of lines of code, where the mastery of dessign is a requirement for the propper mainteinance of the software.<br>
		Releases of multiple CRs where without a very robust and stric process of Integration and QA everything would just blow up without any possible way to keep this healthy and alive.
		<p>
		But at some point I´ve seen I´d rather create a simple thing from scratch that belonging to something extremely big. So big that there is no real process of creativity anymore.<br>
		<p>
		Anyway, those almost 3 years gave me the oportunity to live in the world of the gigants, and that gave me an experience that has a grate value for me now:<br>
		<ul class="list-unstyled list-text">
            <li>DEV phases are a very important opportunity to make things good, to make good code. Most of all when decens of teams are touching the same functionallity.</li>
            <li>And refactor!.</li>
			<li>Because everything becomes much more expensive at the integration phase. Yes because you can brake the build. That mail you don´t want to see in your inbox a Friday morning.</li>
			<li>And see that is not just about being in time to deliver for DEV INT and QA phases. But to do things well done, because everything you missed, it will came back in a form of a Severity Hight indidence to your team´s inbox, and you wil have to deal with something that is not working in a production server.
			</li>
		</ul>
		<p>I had the chance to learn this methodology and understand the why of all of it as well as learn the tools that help a company to achive them.
		I had the opportunity to work in a multicultural company with decens of nationalities and learn fluently my third language.<br>

		<div style="text-align: center; margin-bottom:2%;">For further information here is my CV:</div>
		<div id="cv-wrapper">
			<a href="/CV-EN.pdf" target="_blank_">
				<div id="cv">
				  <img class="bottom ri" src="/images/cv-pdf-inv.svg"/>
				  <img class="top ri" src="/images/cv-pdf.svg" alt="Open CV" title="Open CV"/>
				</div>
			</a>
		</div>

		<hr>
		<h2 class="text-center">Freelancer</h2>
		
		<p>So...what was:
		Then I saw I wanted to be able to create a whole product on my own.
		To understand every aspect needed since the idea is conceived until it is released to a prouction server.</p>
		<ul class="list-unstyled list-text">
            <li>The Back-end technologi and server or Framework that best fits with the real needs of the app.<br>
            I had contact with Ruby on Rails, with Sinatra and NodeJS. And I´ve chosen NodeJS and Express for the upcoming apps I´ve done.</li>
            <li>The database. I´ve done things with PostgradeSQL and MongoDB</li>
            <li>The architecture. Where I´ve seen the grate advantages of the simplicity provided by a real pure REST APIs.</li>
            <li>Automatizing tasks. Grunt</li>
            <li>The Front-end Framework. Where Angular </li>
            <li>Creating my own images, designing icons, controling CSS THML5</li>
            <li>Testing Front-end. Protractor, </li>
            <li>Testing Back-end</li>
            <li>Continuous integration</li>
        </ul>
		<hr>
		<h2 class="text-center">Teaching</h2>
		<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
	</div>
</div>