<div id="work" class="section">
	<div class="container custom-fluid-container">
	
        <h1 class="text-center">Work</h1>
        <hr>
    
    	<h2 class="text-center">Software Engineer</h2>
		<p>
		Just before I started my period as a Freelancer, I had the grate opportunity to work at <a href="http://en.wikipedia.org/wiki/Amadeus_IT_Group" target="_blank_"><b>Amadeus</b></a>
		A huge company that develops worldwide products. The biggest <a href="http://en.wikipedia.org/wiki/Amadeus_CRS" target="_blank_"><b>GDS</b></a> of the world.
		Multiple products where the reusability of code is essential.<br>
		Millions of lines of code, where the mastery of dessign is a requirement for the propper mainteinance of the software.<br>
		Releases of multiple Change Requests where without a very robust and stric process of Integration and QA, everything would just blow up without any possible way to keep this propertly functioning.
		<p>
		But at some point I´ve seen I´d rather create a simple thing from scratch that belonging to something already complex and big. So much big that it is very complicated to participate in real processes of creativity.<br>
		<p>
		Anyway, those almost 3 years gave me the oportunity to live in the world of the gigants, and that gave me an expertise that has a grate value for me now:<br>
		<ul class="list-unstyled list-text">
            <li>DEV phases are the best chance to make things good, to make good code. Most of all when decens of teams are touching the same functionallity.</li>
            <li>And refactor!.</li>
			<li>Because everything becomes much more expensive at the INT phase.</li>
			<li>Yes because you can brake the build. And you can receive that mail you don´t want to see in your inbox a Friday morning.</li>
			<li>Or the others can brake it and you´ll might need to wait until the INT server builds at noon or tonight to test your code.</li>
			<li>See that is not just about being in time to deliver for DEV INT and QA phases. But to do things well done, because everything you missed, it will came back in a form of a Severity Hight indidence to your team´s inbox, and you wil have to deal with something that is not working, but this time in a much much wort server...in a production server!
			</li>
		</ul>
		<p>I had the chance to learn this processes and methodologies and understand the why of all of it as well as the tools that help a company to achive them.
		I had the opportunity to work in a multicultural company with decens of nationalities and learn fluently my third language. My comunication, my presentations.<br>

		<div style="text-align: center; margin-bottom:2%;">For further information here is my CV:</div>
		<div id="cv-wrapper">
			<a href="/CV-EN.pdf" target="_blank_">
				<div id="cv">
				  <img class="bottom ri" src="/images/cv-pdf-white.svg"/>
				  <img class="top ri" src="/images/cv-pdf-red.svg" alt="Open CV" title="Open CV"/>
				</div>
			</a>
		</div>

		<hr>
		<h2 class="text-center">Freelancer</h2>
		<p>So...after that period of necessary but long, heavy and slow way of working, I decided I wanted  to be able to create a whole product on my own with new technologies and more agile methodologies.
		I wanted to deal with every aspect needed since the idea is conceived until it is released to a prouction server.</p>
		<ul class="list-unstyled list-text">
            <li>To chose the Back-end technology and server or Framework that best fits with the real needs of the app.
            <!--I had contact with Ruby on Rails and Sinatra (Ruby) and ExpressJS (NodeJS).--></li>
            <li>The database. <!--I´ve done things with PostgradeSQL and MongoDB--></li>
            <li>The architecture. Where I´ve seen the grate advantages of the simplicity provided by pure REST APIs.</li>
            <li>Task automation. <!--Grunt--></li>
            <li>The Front-end Framework. <!--Angular--> </li>  
            <li>Ensuring the Quality of the software: </li>
            <ul class="list-unstyled sublist-text">
 				<li>Unit testing both Back and Front-end.</li>
 				<li>E2E testing the app.</li>
            	<li>Having a Continuous Integration server.</li>
            </ul>
            <li>Caring about performance:</li>
            <ul class="list-unstyled sublist-text">
 				<li>CSS vs JS. Understanding the limitations of Angular.</li>
 				<li>Loading content dynamically.</li>
            	<li>Optimizing images.</li>
            </ul>    
            <li>Styling, Graphic designing and UX caring</li>
        </ul>

		<div style="text-align: center; margin-bottom:2%;">Have a look to my public Github repositories:</div>
		<div id="github-wrapper">
			<a href="https://github.com/daniboomerang?tab=repositories" target="_blank_">
				<div id="github">
					  <img class="bottom ri" src="/images/github-cat-twin.svg"/>
					  <img class="top ri" src="/images/github-cat.svg" alt="Daniboomerang Github" title="Daniboomerang Github"/>
				</div>
			</a>
		</div>

		<hr>
		<h2 class="text-center">Teaching</h2>
		<p>Lately I´ve been asked for 
	</div>
</div>