<div id="work" class="section">
	<div class="container custom-fluid-container">
	
        <h1 class="text-center">Work</h1>
        <hr>
    
    	<h2 class="text-center">Software Engineer
	    	<span id="engineer-wrapper" class="icon-head-wrapper"><span id="engineer" class="icon-head"><img src="/images/helmet.svg" alt="" title=""/></span></span>
		</h2>
		<p>
		Just before I started my period as a Freelancer, I had the grate opportunity to work at <a href="http://en.wikipedia.org/wiki/Amadeus_IT_Group" target="_blank_">Amadeus</a>
		A huge company that develops worldwide products. The biggest <a href="http://en.wikipedia.org/wiki/Amadeus_CRS" target="_blank_">GDS</a> of the world with multiple products where the reusability of code is essential.<br>
		Millions of lines of code, where the mastery of dessign is a requirement for the propper mainteinance of the software.<br>
		Releases of multiple Change Requests where without a very robust and stric process of Integration and QA, everything would just blow up without any possible way to keep this propertly functioning.
		<p>
		But at some point I´ve seen I´d rather create a simple thing from scratch that belonging to something already complex and big. So much big that it is very complicated to participate in real processes of creativity.<br>
		<p>
		Anyway, those almost 3 years gave me the oportunity to live in the world of the gigants, and that provided me an expertise that has a grate value for me now:<br>
		<ul class="list-unstyled list-text">
            <li>DEV phases are the best chance to make things good, to create good code. You just touch things locally and commit to a development stream shared by just a few.</li>
			<li>Because everything becomes much more expensive at the INT phase. Most of all when decens of teams are touching the same functionallity.</li>
			<li>There are programmed builds, things become less agile. The methodology becomes heavier.</li>
			<li>A build that can be broken!. Yes, you can brake the build. And you can receive that mail you don´t want to see in your inbox a Friday morning.</li>
			<li>Or the others can brake it and you´ll might need to wait until the INT server builds at noon or tonight to test your code.</li>
			<li>Understand that is not just about being in time to deliver for DEV INT and QA phases. But to do things well done, because everything you missed, it will came back in a form of a Severity Hight indidence to your team´s inbox, and you wil have to deal with something that is not working, but this time in a much much worst server...in a production server!
			</li>
		</ul>
		<p>I had the chance to learn everything behind the processes and methodologies of an enormous company and understand the why of all of it as well the tools needed.
		I had the opportunity to work in a multicultural environment with decens of nationalities and learn fluently my third language. Improve my comunication skills, get use to make presentations, write documentation and so much more...<br>

		<div style="text-align: center; margin-bottom:2%;">For further information everything is fully detailed in my CV:</div>
		<div id="cv-wrapper">
			<a href="/CV-EN.pdf" target="_blank_">
				<div id="cv">
				  <img class="bottom ri" src="/images/cv-pdf-white.svg"/>
				  <img class="top ri" src="/images/cv-pdf-red.svg" alt="Open CV" title="Open CV"/>
				</div>
			</a>
		</div>

		<hr>
		<h2 class="text-center">Freelancer
			<span id="quidditch-ball-wrapper" class="icon-head-wrapper"><span id="quidditch-ball" class="icon-head"><img src="/images/quidditch-ball.svg" alt="" title=""/></span></span>
		</h2>
		<p>So...after that period of heavy and...traditional way of working I saw I wanted to be able to create a whole product on my own with new and more agile methodologies.
		I wanted to deal with every aspect needed since the idea is conceived until it is released to a prouction server:
		<ul class="list-unstyled list-text">
            <li>To chose the Back-end technology and server or Framework that best fits with the real needs of the app.
            <!--I had contact with Ruby on Rails and Sinatra (Ruby) and ExpressJS (NodeJS).--></li>
            <li>Same for the database. <!--I´ve done things with PostgradeSQL and MongoDB--></li>
            <li>The architecture.</li>
            <li>The task automation. <!--Grunt--></li>
            <li>The Front-end Framework. <!--Angular--> </li>  
            <li>Ensuring the Quality of the software: </li>
            <ul class="list-unstyled sublist-text">
 				<li>Unit testing both Back and Front-end.</li>
 				<li>E2E testing the app.</li>
            	<li>Having a Continuous Integration server.</li>
            </ul>
            <li>Caring about performance:</li>
            <ul class="list-unstyled sublist-text">
 				<li>CSS over JS.</li>
 				<li>Understanding the limitations of Angular.</li>
 				<li>Loading content dynamically, optimizing images, etc.</li>
            </ul>    
            <li>Graphic Design and UX.</li>
        </ul>

        <p>I have done several things as Freelancer. Small projects to get the experience I was looking for. From my <a href="http://synoptic-demo-v2.herokuapp.com/" target="_blank_">first app with Angular</a> (In order to test the performance of Angular modifying properties of SVG images for a semi real-time app), a traditionsl Blog (Angularjs + RoR + PostgresSQL), or a very simple self-kickstarter site (What I believe would be a nice idea for Spotify).<br>

        <div style="text-align: center; margin-bottom:2%;">All of them can be found in my Github repositories:</div>
		<div id="github-wrapper">
			<a href="https://github.com/daniboomerang?tab=repositories" target="_blank_">
				<div id="github">
					  <img class="bottom ri" src="/images/github-cat-twin.svg"/>
					  <img class="top ri" src="/images/github-cat.svg" alt="Daniboomerang Github" title="Daniboomerang Github"/>
				</div>
			</a>
		</div>

		<hr>
		<p>But I´d like to enfasize on 2 apps that I think better represent my knowledge and what I do:
        <h3 class="text-center">Daniboomerang <a href="https://github.com/daniboomerang/daniboomerang" target="_blank_"><i class="fa fa-fw fa-external-link"></i></a></h3>
	        <p>What you´re seing right now!.
	        It´s a pure CSS parallax able to simulate 4 levels of profoundity. The cloud, the world of the internet. A way to show the technologies, frameworks and programing languages I know. 
	        Pretends to be my CV.<br>
	        But I´ve created daniboomerang for several reasons:
			<ul class="list-unstyled list-text">
	        	<li>The main one was to have something where I could clearly show what I´m capable of and how do I do things. You can install the app locally and do whatever pleases you.</li>
	        	<li>But I also had a challenge since a long time ago: to do something I´d love to see from the Graphyc Designing and UX point of view. Also create my own images.</li>
	        	<li>I wanted something fully responsive. From 200px up to TVs. Something alive that understand that you are using a very small screen and things need to be arranged in a different way.</li>
	        	<li>I wanted something completelly tested. With plenty of tests, all of them <span style="color:green">passed</span>.</li>
	        	<li>A Continuous Integration server</li>
	        	<li>Achive grate performance: with over 30 SVG images simulating parallax, changing the background position with JS wasn´t possible. Using a pure CSS parallax solution and optimizing images was the ony way to reach a smooth scroll (Over 30 images < 6MB)</li>
	        </ul>
		<hr>
		<h3 class="text-center">Warg Helpdesk <a href="https://github.com/daniboomerang/warg-helpdesk" target="_blank_"><i class="fa fa-fw fa-external-link"></i></a></h3>
	        <p>It is a MEAN app for the management and administration of incidences and inventory for a net of schools where I had to lead with:
			<ul class="list-unstyled list-text">
	        	<li>Multiple Roled-based users access. Users, Technicians and Administrators with different rights <a href="http://passportjs.org/" target="_blank_">(Passport)</a></li>
	            <li>API REST for CRUD resources management: Users, Incidences, Inventory, Schools. Using ExpressJS and MongoDB on server side and ngResource on cliente side. </li>
	            <li>User notifications for both: in-app and email.</li>
	            <li>Incidences creation by email.</li>
	            <li>Statistics and reporting: multiple type of reports with multiple ways of filtering. <a href="http://jtblin.github.io/angular-chart.js" target="_blank_">(Angular Chart)</a> and <a href="http://bouil.github.io/angular-google-chart" target="_blank_">(Angular Google Chart)</a></li>
	            <li>Localization: English and Spanish <a href="https://angular-translate.github.io/" target="_blank_">(Angular Translate)</a></li>
	            <li>Nedted views and URL states. <a href="http://angular-ui.github.io/ui-router/site/#/api/ui.router" target="_blank_">(Angular Router)	</a></li>
	        </ul>

		<hr>
		<h2 class="text-center">Teaching
			<span id="student-hat-wrapper" class="icon-head-wrapper"><span id="student-hat" class="icon-head"><img src="/images/student-hat.svg" alt="" title=""/></span></span>
		</h2>
		<p>Lately I´ve been asked for giving courses for the Angular FRW.<br>
		People close to me knows how much I love to explain things. I even have to make efforts to stop speaking about things I love and/or consider important. May be too much pasion when sharing the things that amaze me. 

		<p>But I´ve never been asked to teach profesionally anything related with Software.<br>
		And it´s being amazing. I´ve really enjoyed preparing the courses. How to fit best the students´ expectations with the nature of the course.<br>
		Several factors to take into account as the duration and timing, how to make it something practical but enjoyable. Thinking about the whole program, what´s the most important thing someone should know for its first contact with the FRW?.<br>
		Is it worth to learn some complex aspects of Angular now we know we´ll have a totally new approach for those aspects in Angular 2?.

		<p>Well it is endeed not an easy task and takes plenty of time to prepare the whole material. But I have to say that after almost 2 years using Angular the need to enquire on detail about theorical and specific features of the FRW has helped me to stabish multiple concepts I wasn´t 100% understanding. And of course you always learn new ones...<br>
		Mixing docency and practice is a great combination to reach profund comprehension.<br>

		<p>The material of the courses can be found at my Github. <a href="https://github.com/daniboomerang/Redradix-workshop-with-Angular" target="_blank_"><i class="fa fa-fw fa-external-link"></i></a> (Courses are given in Spanish)
	</div>
</div>