<div id="parallax-wrapper" class="parallax" du-scroll-container>
	<div id="cover-parallax-section" class="parallax__section">
    	<div class="parallax__layer parallax__layer--deep"><background height="150" image="cover-space"></background></div>
    	<div class="parallax__layer parallax__layer--back"><comet color="blue"></comet><comet color="red"></comet></div>
    	<div class="parallax__layer parallax__layer--base"><cover></cover></div>
  </div>
  <div id="connectivity-parallax-section" class="parallax__section" section-height-interceptor>
    	<div class="parallax__layer parallax__layer--base"><div section-provider name="connectivity"></div></div>
  </div>
  <div id="creativity-parallax-section" class="parallax__section" section-height-interceptor>
    	<div class="parallax__layer parallax__layer--base"><div section-provider name="creativity"></div></div>
  </div>
 	<div id="remote-working-parallax-section" class="parallax__section" section-height-interceptor>
    <div class="parallax__layer parallax__layer--deep"><div alive-svg-earth-connectivity id="orbit-earth-connectivity"></div>
    </div>
    <div class="parallax__layer parallax__layer--back"><comet color="white"></comet></div>
  	<div class="parallax__layer parallax__layer--base"><div section-provider name="remote-working"></div></div>
	</div>
  <div id="remote-working-parallax-images" class="parallax__section">
  	<div class="parallax__layer parallax__layer--back"><div alive-svg-iss id="orbit-iss"></div></div>  
   	<div class="parallax__layer parallax__layer--base">
  		<div id="without-boundaries"><div alive-svg-cliff id="cliff"></div></div><a href="#without-boundaries" du-scrollspy></a> <!-- This is just to trigger the event onScroll -->
  	</div>
  	<div class="parallax__layer parallax__layer--fore"><div alive-svg-books books="cliff" id="cliff-books"></div></div>
  </div>
  <div id="about-parallax-section" class="parallax__section" section-height-interceptor>
  	<div class="parallax__layer parallax__layer--base"><div section-provider name="about"></div></div>
	</div>
	<div id="BE-parallax-images" class="parallax__section">
    <div class="parallax__layer parallax__layer--deep">
     	<div style="margin-top: -20vh; margin-left: -10vh;"><comet color="white"></comet></div>
    </div>
  	<div class="parallax__layer parallax__layer--back"><div alive-svg-be-fe-earth side="BE" id="BE-earth"></div></div>
  	<div class="parallax__layer parallax__layer--fore"><div alive-svg-books books="BE" id="BE-books"></div></div>
  	<div class="parallax__layer parallax__layer--base">
    		<div id="back-end"> <!-- This is just to trigger the event onScroll -->
        	<back-end></back-end>
        	<div alive-svg-ruby id="BE-ruby"></div>
    		</div>
    		<a href="#back-end" du-scrollspy></a>
  	</div>
	</div>
  <div id="loving-parallax-section" class="parallax__section" section-height-interceptor>
    <div class="parallax__layer parallax__layer--base"><div section-provider name="loving"></div></div>
  </div>
  <div id="contact-parallax-section" class="parallax__section">
    <div class="parallax__layer parallax__layer--base"><contact></contact></div>
  </div>
</div>