<div id="about" class="section crystal">
    <div class="custom-fluid-container fluid-section">

        <div lightup-text section="about" class="section-title h1-title text-gray">About</div>

        <p>There is nothing in this world I admire more than the ability to change, to adapt, to beat the security of the known and go beyond the comfort and the tradition.<br>
        I am delighted by the art of recognizing when something is over or gone and must be forgotten, reinvented or renewed.<br>
        I strongly believe that anyone´s happiness or the survival of any company depends, at the very end and in one way or another, on this factor: "To recognize the need of change, to become action and change it."<br>
        I get impressed by dynamism whether it comes from people or enterprises; agility and creativity should not be only product attributes but fundamental values of the business culture, management philosophy and development methodology.<br>

        <p>It is crystal clear for me that productivity has nothing to do with the number of hours spent at the office, the number of incidences solved or the number of commited lines of code. But rather with free commitment and total sense of responsibility when you are doing what you love. Only then there are no complains, there is full attention, and there is full commitment; then, the sense of responsability comes from within.<br>
        
        <p>I believe in companies and people capable to function without the need of being physically allocated in the same place at the same time.<br>

        In the last few years many companies have developed new approaches in their way of working and I know I could contribute in many ways to them.
    </div>
</div>