<a href="#connectivity" du-scrollspy></a>
<div id="connectivity">
    <div lightup-text section="connectivity" class="section-title h1-title text-gray">Connectivity</div>
    <div animated-section triggeredby="connectivity" triggeredon="active" animatedin="fadeIn" animatedout="fadeOut">
        <div class="custom-fluid-container">
            <div class="animated-section visibility-hidden">            
                <p align="center">There are 2 sides in the world of connectivity.<br>
                And I am not talking about the Dark side and the Light side of the force.<br>
                I am talking about the Client-side and the Server-side that we studied at the university.<br>
                Two different worlds, interconnected by the cloud, where software developers must learn how to get along with multiple disciplines, coding in several languages, mastering the full stack architecture...<br></p>

                <div animated-section id="client-server-diagram" class="diagram" triggeredby="connectivity" triggeredon="active" animatedin="fadeIn" animatedout="fadeOut">
                    <div class="animated-section visibility-hidden"
                    style="-moz-animation-delay: 0.5s; -webkit-animation-delay: 0.5s; -ms-animation-delay: 0.5s;">
                        <img class="animated-section-img" src="images/CS-diagram.svg" alt="The Client/Server" title="The Client/Server"/>  
                    </div>
                </div>

                <div animated-section triggeredby="connectivity" triggeredon="active" animatedin="fadeIn" animatedout="fadeOut">
                    <div class="animated-section visibility-hidden"
                    style="-moz-animation-delay: 1s; -webkit-animation-delay: 1s; -ms-animation-delay: 1s;">
                        <p align="center">
                        Definitely not Jedis, but with plenty of skills, right?<br>
                        Perhaps that is why they are also known as Ninjas or Knights developers...<br>
                        <br>
                        And everything will be possible as long as creativity arises...
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>