<a href="#cover" du-scrollspy></a>
<div id="cover">
    <div id="cover-navbar-wrapper" class="container-fluid custom-fluid-container">
        <div id="cover-navbar">
            <ul>
                <li id="about-li"><a href="#about" du-smooth-scroll du-scrollspy="about" duration="1000"><span>About&nbsp;&nbsp;</span><i class="fa fa-2x icon-boomerang-solid"></i></a></li>
                <li id="loving-li"><a href="#loving" du-smooth-scroll du-scrollspy="loving" duration="1500"><span>Loving&nbsp;&nbsp;&nbsp;</span><i class="fa fa-2x icon-heart"></i></a></li>
                <li id="work-li"><a href="#work" du-smooth-scroll du-scrollspy="work" duration="2000"><span>Work&nbsp;&nbsp;&nbsp;</span><i class="fa fa-2x icon-suitcase"></i></a></li>
                <li id="contact-li"><a href="#contact" du-smooth-scroll du-scrollspy="contact" duration="2500"><span>Contact&nbsp;&nbsp;&nbsp;</span><i class="fa fa-2x icon-weixin"></i></a></li>
            </ul>
        </div>
    </div>
    <div id="cover-content">
        <div class="cover-content-row">            
            <div class="cover-text">
                <span id="name" class="name">Daniel Estévez</span>
                <br>
                <span id="skills-1" class="skills">Software Engineer</span>
                <span id="skills-2" class="skills">Full Stack Web Developer</span>
            </div>
        </div>
    </div>
    <div id="cover-footer">
        <div id="scroll-down" class="text-center">
            <a id="scroll-down-link" class="arrow" href="#connectivity" du-smooth-scroll du-scrollspy="" duration="1000"><i class="fa fa-fw fa-chevron-down fa-3x"></i></a>
        </div>
    </div>
</div>