<a href="#creativity" du-scrollspy></a>
<div id="creativity">
	<div lightup-text section="creativity" class="section-title h1-title text-gray">Creativity</div>
	<div animated-section animated="true" triggeredby="creativity" triggeredon="active" animatedin="zoomIn" animatedout="fadeOut">
	    <div class="custom-fluid-container">
	        <div class="animated-section visibility-hidden">
	            <p align="center">Because at the very end, everything is about creativity.<br>
	            You must be creative in other to start up something, in order to survive and adapt to upcoming changes and in order to make the difference executing the idea nobody has.<br>
	            <br>
	            Creativity is not an abstract or philosophical thing but a simple and logical fact: <br>
	            Something did not exist and now it does.<br>
	            And it is when you love what you do and you do not put boundaries to the what, how, when and where to do it that you are bound to create amazing things.
	        </div>
	    </div>
	</div>
</div>