<div id="loving" class="section crystal">
    <div class="custom-fluid-container fluid-section">

        <div lightup-text section="loving" class="section-title h1-title text-gray">Loving</div>
        
        <p>I love to be part of any creative process. That is what keeps me motivated.<br>
        I have ideas all the time; but an idea is nothing without its execution. I´d rather be able to execute one poor idea than keeping in my mind a thousand of incredible new ones.
        <p>So at some point I decided to grow towards the Full-Stack and be able to create a whole product on my own. I did it so and I enjoy doing it with <a href="http://en.wikipedia.org/wiki/MEAN_%28software_bundle%29" target="_blank_">MEAN</a>:<br>

        <p>I love to be part of any creative process. That is what keeps me motivated.<br>
        I have ideas all the time; but an idea is nothing without its execution. I´d rather be able to execute one poor idea than keeping in my mind a thousand of incredible new ones.
        <p>So at some point I decided to grow towards the Full-Stack and be able to create a whole product on my own. I did it so and I enjoy doing it with <a href="http://en.wikipedia.org/wiki/MEAN_%28software_bundle%29" target="_blank_">MEAN</a>:<br>

    </div>
</div>
