<div id="loving" class="section crystal">
    <div class="custom-fluid-container fluid-section">

        <div lightup-text section="loving" class="section-title h1-title text-gray">Loving</div>
        
        <p>I love to be part of any creative process. That is what keeps me motivated.<br>
        I have ideas all the time; but an idea is nothing without its execution. I´d rather be able to execute one poor idea than keeping in my mind a thousand of incredible new ones.
        <p>So at some point I decided to grow towards the Full-Stack and be able to create a whole product on my own. I did it so and I enjoy doing it with <a href="http://en.wikipedia.org/wiki/MEAN_%28software_bundle%29" target="_blank_">MEAN</a>:<br>

        <ul class="list-unstyled list-text">
            <li>I enjoy with <a href="https://angularjs.org/" target="_blank_">AngularJS</a> especially now that I have gone deep into the framework, and I completely understand the purpose of its components. Now that I create apps only with directives. And what is even more important: to comprehend its limitations.</li>
            <li>I admire their decision for such a radical change to <a href="https://angular.io/" target="_blank_">AngularJS 2</a>, getting rid of so many basic components and concepts of the first framework. I think it is what was needed and I am looking forward to give it a shot.</li>
            <li>I like pure <a href="http://en.wikipedia.org/wiki/Representational_state_transfer" target="_blank_">REST APIs</a> architecture for CRUD apps and I enjoy developing them with <a href="http://expressjs.com/" target="_blank_">Express</a>.</li>
            <li>I am pleased about storing data rich structures in <a href="http://www.mongodb.com/" target="_blank_">MongoDB</a> without actually taking care about what and how those structures are.</li>
            <li>And although I will always love OOP, I have to admit that it is kind of cool developing with <a href="https://nodejs.org/" target="_blank_">NodeJS</a> a back-end that works concurrently and in the same language as my Front-end.</li>
        </ul>

    </div>
</div>