<div id="work" class="section crystal">
	<div class="custom-fluid-container fluid-section">
	
        <div lightup-text section="work" class="section-title h1-title text-gray">Work</div>
    
		<div class="section-title h2-title">
			<span>Software Engineer</span>
    		<span id="engineer-wrapper" class="icon-head-wrapper"><span id="engineer" class="icon-head"><img src="images/helmet.svg" alt="" title=""/></span></span>
		</div>
    	
		<p>Just before I started my period as a freelancer, I had the great opportunity to work at <a href="http://en.wikipedia.org/wiki/Amadeus_IT_Group" target="_blank_">Amadeus</a>.<br>
		A huge company that develops worldwide products. The biggest <a href="http://en.wikipedia.org/wiki/Amadeus_CRS" target="_blank_">GDS</a> of the world with multiple projects where the reusability of code is essential.<br>
		Releases of multiple Change Requests where without a very robust and stric process of Integration and QA, everything would just blow up without any possible way to keep this mainteinable and propertly functioning.

		<p>I have got the chance to learn everything behind the processes and methodologies of an enormous company and understand the why of all of it as well as the tools needed.<br>
		To see the complexity of big integration phases, to suffer broken build consequences, to go through long QA phases, to deal with production servers, with production incidences, to maintain a product...

		<p>I had the opportunity to belong to a multicultural environment with tens of nationalities and speak fluently a third language. Improve my commnication skills, get use to make presentations, write documentation and so much more...<br>

		<hr>
		<div class="section-title h2-title">
			<span>Freelancer</span>
			<span id="quidditch-ball-wrapper" class="icon-head-wrapper"><span id="quidditch-ball" class="icon-head"><img src="images/quidditch-ball.svg" alt="" title=""/></span></span>
		</div>
		<p>Then I decided to jump into modern frameworks and agile methodologies.
		I wanted to deal with every aspect needed since the idea is conceived until it is released into a production server:
		<ul class="list-unstyled list-text">
            <li>The Back-end technology and the server or framework that best fits with the real needs of the app
            <!--I had contact with Ruby on Rails and Sinatra (Ruby) and ExpressJS (NodeJS).--></li>
            <li>The database <!--I´ve done things with PostgradeSQL and MongoDB--></li>
            <li>The task automation <!--Grunt--></li>
            <li>The Front-end framework <!--Angular--> </li>  
            <li>The Quality of the software: </li>
            <ul class="list-unstyled sublist-text">
 				<li>Unit testing both Back-end and Front-end </li>
 				<li>E2E testing </li>
            	<li>Continuous Integration </li>
            </ul>
            <li>The performance </li>
            <li>The graphic design and UX </li>
        </ul>
        
		<hr>
		<div class="section-title h2-title">
			<span>Teaching</span>
			<span id="student-hat-wrapper" class="icon-head-wrapper"><span id="student-hat" class="icon-head"><img src="images/student-hat.svg" alt="" title=""/></span></span>
		</div>
		<p>I give Angular courses for those who have some experience with it but would like to go deeper.<br>
		Preparing a nice program and material is not an easy task but I really enjoy it. And the need to enquire on detail about theorical and specific features of the framework has helped me to stablish multiple concepts.<br>
		Mixing docency and practice is a great combination to reach profund comprehension.<br>
		And teaching is fantastic...

		<p>The material of the courses can be found at my Github. <a href="https://github.com/daniboomerang/Redradix-course-angular-november2015" target="_blank_"><i class="fa fa-fw fa-external-link"></i></a> (Courses are given in Spanish)
	</div>
</div>