<div id="cover" parallax-background parallax-ratio="0.3" class="stars-parallax-background">
    <div class="cover-wrapper">
        <div class="cover-wrapper-inner">
            <div class="cover-container">
                <div id="cover-navbar" class="masthead clearfix">
                    <h4 class="masthead-brand"></h4>
                <ul id="nav" class="masthead-nav">
                  <li class='{{ section.animation }} fx-easing-bounce fx-speed-800' ng-repeat="section in sections">
                        <a href="{{section.hash}}" du-smooth-scroll du-scrollspy offset="90">{{ section.text }} &nbsp;&nbsp;<i class="fa fa-fw fa-2x {{ section.awesomeIcon }}"></i></a>
                    </li>
                </ul>
                </div>
                <hr class="star-primary" style="margin: 15px;">
                <div id="cover-content" class="inner cover">
                                  <h1 class="brand-heading">{{screenSize}}</h1>

                </div>
                <div id="cover-footer" class="row">
                    
                </div>
            </div>
        </div>
    </div>
</div>