<div id="intro">
	<div id="go-button-wrapper"><div id="blur-button-bg"></div></div>
	<div id="intro-bottom-row">
		<div id="dboom-github">
			<div id="github-link"><a href="https://github.com/daniboomerang/daniboomerang" target="_blank_"><i class="fa fa-fw fa-2x fa-github"></i></a>
			</div>
			<div id="license-link">
				Code under
				<a rel="license" href="https://github.com/daniboomerang/daniboomerang/blob/master/LICENSE" target="_blank_" style="text-decoration: underline;">
				MIT license</a>
			</div>
		</div>
		<div id="dboom-share">
        	<div>
	        	<a id="fb-link" href="" socialshare socialshare-provider="facebook" socialshare-media="{{ socialMedia }}" socialshare-text="{{ socialTitle }}" socialshare-description="{{ socialDescription }}" socialshare-url="{{ socialUrl }}" socialshare-popup-height="600" socialshare-popup-width="600"><i class="fa fa-fw fa-2x icon-facebook-circle"></i></a>&nbsp;
				<a id="gplus-link" href="" socialshare socialshare-provider="google+" socialshare-media="{{ socialMedia }}" socialshare-text="{{ socialTitle }}" socialshare-description="{{ socialDescription }}" socialshare-url="{{ socialUrl }}" socialshare-popup-height="600" socialshare-popup-width="600"><i class="fa fa-fw fa-2x icon-google-plus-circle"></i></i></a>&nbsp;
				<a id="twitter-link" href="" socialshare socialshare-provider="twitter" socialshare-media="{{ socialMedia }}" socialshare-text="{{ socialTitle }}" socialshare-description="{{ socialDescription }}" socialshare-url="{{ socialUrl }}" socialshare-popup-height="600" socialshare-popup-width="600" socialshare-hashtags="daniboomerang, creative, portfolio, website, fullstackdeveloper, angularjs"><i class="fa fa-fw fa-2x icon-twitter-circle" ></i></a>&nbsp;
				<a id="linkedin-link" href="" socialshare socialshare-provider="linkedin" socialshare-media="{{ socialMedia }}" socialshare-text="{{ socialTitle }}" socialshare-description="{{ socialDescription }}" socialshare-url="{{ socialUrl }}" socialshare-popup-height="600" socialshare-popup-width="600"><i class="fa fa-fw fa-2x icon-linkedin-circle"></i></a>
			</div>
			<div id="dboom-copyright">© 2015 daniboomerang</div>
		</div>
	</div>
</div>
