<div id="intro" class="visibility-hidden">
	<div id="intro-top-row">
		<div id="esc" class="animated"><b>Press 'ESC' to skip</b> </div>
	</div>
	<div id="go-button-wrapper"><div id="blur-button-bg"></div></div>
	<div id="intro-bottom-row">
		<div id="dboom-github">
			<a href="https://github.com/daniboomerang/daniboomerang" target="_blank_"><i class="fa fa-fw fa-2x fa-github"></i></a><br>
			Code under <a rel="license" href="https://github.com/daniboomerang/daniboomerang/blob/master/LICENSE" target="_blank_" style="text-decoration: underline;">MIT license</a>
		</div>
		<div id="dboom-share">
        	<a href="" custom-url="daniboomerang.herokuapp.com" social-facebook><i class="fa fa-fw fa-2x icon-facebook-circle"></i></a>&nbsp;
			<a href="" custom-url="daniboomerang.herokuapp.com" social-gplus><i class="fa fa-fw fa-2x icon-google-plus-circle"></i></i></a>&nbsp;
			<a href="" custom-url="daniboomerang.herokuapp.com" social-twitter><i class="fa fa-fw fa-2x icon-twitter-circle"></i></a>&nbsp;
			<a href="" custom-url="daniboomerang.herokuapp.com" social-linkedin><i class="fa fa-fw fa-2x icon-linkedin-circle"></i></a>
			<br>
			© 2015 daniboomerang
		</div>
	</div>
</div>