<div id="footer-wrapper">
	<div id="share-button-wrapper" class="animated visibility-hidden" style="-moz-animation-delay: 0.5s; -webkit-animation-delay: 0.5s; -ms-animation-delay: 0.5s;">
	    <div button id="share-button" size="md" content-type="icon" icon-class="fa fa-fw fa-share-alt fa-2x" is-toogled-button="true" ng-click-function="toogleFooters()"></div>
	</div>
	<footer>
	    <div class="container footer-container">
	        <div id="current-section-menu" ng-show="displayMenu == 'sectionFooter'" class="hidden-md hidden-lg">{{ currentSection }}</div>
	        <div id="share-menu" ng-show="displayMenu == 'sharingFooter'">
	        	<a href="" custom-url="daniboomerang.herokuapp.com" social-facebook><i class="fa fa-fw fa-lg fa-facebook"></i></a>&nbsp;&nbsp;
				<a href="" custom-url="daniboomerang.herokuapp.com" social-gplus><i class="fa fa-fw fa-lg fa-google-plus"></i></i></a>&nbsp;&nbsp;
				<a href="" custom-url="daniboomerang.herokuapp.com" social-twitter><i class="fa fa-fw fa-lg fa-twitter"></i></a>&nbsp;&nbsp;
				<a href="" custom-url="daniboomerang.herokuapp.com" social-linkedin><i class="fa fa-fw fa-lg fa-linkedin"></i></a>
	        </div>
	    </div>
	</footer>
	<div id="to-top-button-wrapper" class="animated visibility-hidden" style="-moz-animation-delay: 0.5s; -webkit-animation-delay: 0.5s; -ms-animation-delay: 0.5s;" du-scroll-container="parallax-wrapper">
		<div button id="to-top-button" size="md" content-type="icon" icon-class="fa fa-fw fa-chevron-up fa-2x" scroll-section="cover" scroll-duration="4000"></div>
	</div>
</div>