<div id="footer" du-spy-context du-scroll-container="parallax-wrapper">
	<div id="buttons-left-side-wrapper">
		<div id="cv-button-wrapper">
			<div button id="cv-button" size="xs" content-type="text" text="CV" href="/CV-EN.pdf"></div>
		</div>
		<div id="none-section-wrapper">
		</div>
		<div id="share-button-wrapper">
		    <div button id="share-button" size="xs" content-type="icon" icon-class="fa fa-fw fa-share-alt fa-lg" is-toogled-button="true" ng-click-function="toogleShareMenu()" spin-direction='right'></div>
		</div>	
	</div>
	<div id="share-menu-wrapper">
	    <div id="share-menu-container">
	        <div id="share-menu">
	        	<a href="" socialshare socialshare-provider="facebook" socialshare-media="{{ socialMedia }}" socialshare-text="{{ socialTitle }}" socialshare-description="{{ socialDescription }}" socialshare-url="{{ socialUrl }}" socialshare-popup-height="600" socialshare-popup-width="600"><i class="fa fa-fw fa-lg fa-facebook"></i></a>&nbsp;&nbsp;
				<a href="" socialshare socialshare-provider="google+" socialshare-media="{{ socialMedia }}" socialshare-text="{{ socialTitle }}" socialshare-description="{{ socialDescription }}" socialshare-url="{{ socialUrl }}" socialshare-popup-height="600" socialshare-popup-width="600"><i class="fa fa-fw fa-lg fa-google-plus"></i></i></a>&nbsp;&nbsp;
				<a href="" socialshare socialshare-provider="twitter" socialshare-media="{{ socialMedia }}" socialshare-text="{{ socialTitle }}" socialshare-description="{{ socialDescription }}" socialshare-url="{{ socialUrl }}" socialshare-popup-height="600" socialshare-popup-width="600" socialshare-hashtags="daniboomerang, creative, portfolio, website, fullstackdeveloper, angularjs"><i class="fa fa-fw fa-lg fa-twitter"></i></a>&nbsp;&nbsp;
				<a href="" socialshare socialshare-provider="linkedin" socialshare-media="{{ socialMedia }}" socialshare-text="{{ socialTitle }}" socialshare-description="{{ socialDescription }}" socialshare-url="{{ socialUrl }}" socialshare-popup-height="600" socialshare-popup-width="600"><i class="fa fa-fw fa-lg fa-linkedin"></i></a>
	        </div>
	    </div>
	</div>
	<div id="buttons-right-side-wrapper">
		<div id="to-next-up-button-wrapper">
		    <div button id="next-up-button" size="xs" content-type="icon" icon-class="fa fa-fw fa-chevron-up" scroll-section="{{nextUpSection}}" scroll-duration="2500" spin-direction='left'></div>
		</div>
		<div id="current-section-wrapper">
			{{currentSection.toUpperCase()}}
		</div>
		<div id="to-next-down-button-wrapper">
		    <div button id="next-down-button" size="xs" content-type="icon" icon-class="fa fa-fw fa-chevron-down" scroll-section="{{nextDownSection}}" scroll-duration="2500" spin-direction='right'></div>
		</div>
	</div>
</div>