<div id="intro" class="animated visibility-hidden">
	<div id="esc" class="animated"><b>Press 'ESC' to skip</b></div>
	<div id="intro-title">
		<h3 class="text-center">"A creative portfolio"</h3>
	</div>
	<div id="intro-subtitle">
		daniboomerang v1.0 <br>
		<a href="https://github.com/daniboomerang/daniboomerang" target="_blank_"><i class="fa fa-fw fa-2x fa-github"></i></a>
	</div>
	<div id="intro-list">
        <div class="row">
			<div class="intro-element col-xs-12 col-sm-6 col-md-6 animated visibility-hidden" style="-moz-animation-delay: 1.5s; -webkit-animation-delay: 1.5s; -ms-animation-delay: 1.5s;"> Pure CSS Parallax</div>
			<div class="intro-element col-xs-12 col-sm-6 col-md-6 animated visibility-hidden" style="-moz-animation-delay: 2.5s; -webkit-animation-delay: 2.5s; -ms-animation-delay: 2.5s;"> Continuous Integration Server</div>
			<div class="intro-element col-xs-12 col-sm-6 col-md-6 animated visibility-hidden" style="-moz-animation-delay: 3.5s; -webkit-animation-delay: 3.5s; -ms-animation-delay: 3.5s;"> Fully Responsive</div>
			<div class="intro-element col-xs-12 col-sm-6 col-md-6 animated visibility-hidden" style="-moz-animation-delay: 4.5s; -webkit-animation-delay: 4.5s; -ms-animation-delay: 4.5s"> Plenty of Unit and E2E tests</div>
			<div class="intro-element col-xs-12 col-sm-6 col-md-6 animated visibility-hidden" style="-moz-animation-delay: 5.5s; -webkit-animation-delay: 5.5s; -ms-animation-delay: 5.5s;"> All tests Passed</div>
			<div class="intro-element col-xs-12 col-sm-6 col-md-6 animated visibility-hidden" style="-moz-animation-delay: 6.5s; -webkit-animation-delay: 6.5s; -ms-animation-delay: 6.5s;"> Tested on <i class="fa fa-fw fa-2x icon-safari"></i><i class="fa fa-fw fa-2x icon-chrome"></i><i class="fa fa-fw fa-2x icon-firefox"></i></div>
		</div>
    </div>
    <div id="intro-center">
		<div id="intro-boomerang-wrapper" class="circular animated visibility-hidden">
			<div id="intro-boomerang" class="circular"><div id="intro-boomerang-center" class="circular"><div id="boomerang"></div></div></div>
		</div>
	</div>
	<div id="intro-bottom-row">
		<div id="dboom-techs">
			<span id="node">NodeJS</span>&nbsp;&nbsp;<span id="angular"><span>AngularJS</span>&nbsp;&nbsp;<span id="express">ExpressJS</span>
		</div>
		<div id="intro-app-license">
			© 2015 daniboomerang<br>
			Code released under the <a rel="license" href="https://github.com/daniboomerang/daniboomerang/blob/master/LICENSE" target="_blank_" style="text-decoration: underline;">MIT license</a>
		</div>
		<div id="dboom-share">
        	<a href="" custom-url="daniboomerang.herokuapp.com" social-facebook><i class="fa fa-fw fa-2x icon-facebook-circle"></i></a>&nbsp;&nbsp;
			<a href="" custom-url="daniboomerang.herokuapp.com" social-gplus><i class="fa fa-fw fa-2x icon-google-plus-circle"></i></i></a>&nbsp;&nbsp;
			<a href="" custom-url="daniboomerang.herokuapp.com" social-twitter><i class="fa fa-fw fa-2x icon-twitter-circle"></i></a>&nbsp;&nbsp;
			<a href="" custom-url="daniboomerang.herokuapp.com" social-linkedin><i class="fa fa-fw fa-2x icon-linkedin-circle"></i></a>
		</div>
	</div>
</div>