<div id="parallax-wrapper" class="parallax" du-scroll-container>
  <div id="cover-parallax-section" class="parallax__section">
    <div class="parallax__layer parallax__layer--base"><cover></cover></div>
    <div class="parallax__layer parallax__layer--back">
      <div id="orbit-one" class="spin"><div id="comet-blue" ng-show="showCometBlue"></div></div>
      <div id="orbit-two" class="spin"><div id="comet-red" ng-show="showCometRed"></div></div>
    </div>
    <div class="parallax__layer parallax__layer--deep"><div id="px-text-moon">CREATE AT EVERYTIME AND EVERYWHERE</div></div>
  </div>
  <div id="first-image-section" class="parallax__section">
    <div class="parallax__layer parallax__layer--back"><div id="satellite" class="spin"></div></div>
    <div class="parallax__layer parallax__layer--base"></div>
    <div class="parallax__layer parallax__layer--fore"></div>
  </div>
  <div id="about-parallax-section" class="parallax__section">
    <div class="parallax__layer parallax__layer--base"><about></about></div>
  </div>
  <div id="second-image-section" class="parallax__section">
    <div class="parallax__layer parallax__layer--deep"></div>
    <div class="parallax__layer parallax__layer--back"></div>
    <div class="parallax__layer parallax__layer--base"></div>
    <div class="parallax__layer parallax__layer--fore"></div>
  </div>
  <div id="loving-parallax-section" class="parallax__section">
    <div class="parallax__layer parallax__layer--base"><loving></loving></div>
  </div>
  <div id="third-image-section" class="parallax__section">
    <div class="parallax__layer parallax__layer--deep"></div>
    <div class="parallax__layer parallax__layer--back"></div>
    <div class="parallax__layer parallax__layer--base"></div>
    <div class="parallax__layer parallax__layer--fore"></div>
  </div>
  <div id="work-parallax-section" class="parallax__section">
    <div class="parallax__layer parallax__layer--base"><work></work></div>
  </div>
  <div id="fourth-image-section" class="parallax__section">
    <div class="parallax__layer parallax__layer--base"><div class="title">Base Layer</div></div>
    <div class="parallax__layer parallax__layer--back"><div class="title">Back Layer</div></div>
  </div>
  <div id="contact-parallax-section" class="parallax__section">
    <div class="parallax__layer parallax__layer--base"><contact></contact></div>
  </div>
</div>