<div id="parallax-wrapper" class="parallax" du-scroll-container>
  <div id="cover-parallax-section" class="parallax__section">
    <div class="parallax__layer parallax__layer--deep"></div>
    <div class="parallax__layer parallax__layer--back">
      <div class="spin-right-half orbit-comet" style=""><div id="comet-blue" style="height: 15%; width: 3%; " class="comet"></div></div>
      <div class="spin-left-half orbit-comet" style="margin-top: 50vh; margin-left:20vh;"><!--<div id="comet-red" class="comet" style="height: 15%; width: 3%; right:0;"></div>--></div>
      <div class="px-text-right parallax-text"></div>
    </div>
    <div class="parallax__layer parallax__layer--base"><cover></cover></div>
  </div>
  <div id="cover-parallax-images" class="parallax__section">
    <div class="parallax__layer parallax__layer--back"><div id="orbit-iss" class="spin-right-whole"><div id="iss"></div></div></div>
    <div class="parallax__layer parallax__layer--base">
      <div id="orbit-stones-circle" class="spin-right-whole-faster">
        <div id="stones-circle"><div id="orbit-big-stone" class="spin-left-whole"><div id="big-stone"></div></div></div>
      </div>
    </div>
    <div class="parallax__layer parallax__layer--fore"></div>
  </div>
  <div id="about-parallax-section" class="parallax__section">
    <div class="parallax__layer parallax__layer--base"><about></about></div>
  </div>
  <div id="BE-parallax-images" class="parallax__section">
    <div class="parallax__layer parallax__layer--deep">
      <div class="spin-right-half orbit-comet" style="margin-top: 100vh;"><!--<div id="comet-blue" style="height: 6%; width: 4%;" class="comet"></div>--></div>
      <div class="spin-left-half-faster orbit-comet" style="margin-top: 10vh; margin-left: 20vh;"><div id="comet-white" style="height: 10%; width: 5%;" class="comet"></div></div>
    </div>
    <div class="parallax__layer parallax__layer--back"></div>
    <div class="parallax__layer parallax__layer--base"><div id="BE-ruby"></div></div>
    <div class="parallax__layer parallax__layer--fore"><div id="BE-books"></div><div id="BE-dboom"><div id="boomerang" class="spin-boomerang"></div></div></div>
  </div>
  <div id="loving-parallax-section" class="parallax__section">
    <div class="parallax__layer parallax__layer--base"><loving></loving></div>
  </div>
  <div id="FE-parallax-images" class="parallax__section">
    <div class="parallax__layer parallax__layer--deep"></div>
    <div class="parallax__layer parallax__layer--back"></div>
    <div class="parallax__layer parallax__layer--base"><div id="FE-gaming"></div></div>
    <div class="parallax__layer parallax__layer--fore"><div id="FE-laptop-mobile"></div><div id="FE-books"></div></div>
  </div>
  <div id="work-parallax-section" class="parallax__section">
    <div class="parallax__layer parallax__layer--base"><work></work></div>
  </div>
  <div id="contact-parallax-section" class="parallax__section">
    <div class="parallax__layer parallax__layer--base"><contact></contact></div>
  </div>
</div>