<div id="parallax-wrapper" class="parallax" du-scroll-container>
  <div id="cover-parallax-section" class="parallax__section">
    <div class="parallax__layer parallax__layer--deep"></div>
    <div class="parallax__layer parallax__layer--back">
      <div id="orbit-one" class="spin-right-half"><div id="comet-blue"></div></div>
      <div id="orbit-two" class="spin-left-half"><div id="comet-red" class="pull-right"></div></div>
      <div style="border: solid red" class="px-text-right parallax-text">ÑLKSDJFÑK LJKÑLSA DJ FADLSÑKKDSLÑFJÑ KSADF</div>
    </div>
    <div class="parallax__layer parallax__layer--base"><cover></cover></div>
  </div>
  <div id="cover-image-section" class="parallax__section">
    <div class="parallax__layer parallax__layer--back"><div id="orbit-iss" class="spin-right-whole"><div id="iss"></div></div></div>
    <div class="parallax__layer parallax__layer--base">
      <div id="orbit-five" class="spin-right-whole"><div id="space-"></div></div>
      <div id="orbit-six" class="spin-right-whole"><div id="rounded-stones"></div></div>
    </div>
    <div class="parallax__layer parallax__layer--fore"></div>
  </div>
  <div id="about-parallax-section" class="parallax__section">
    <div class="parallax__layer parallax__layer--base"><about></about></div>
  </div>
  <div id="second-image-section" class="parallax__section">
    <div class="parallax__layer parallax__layer--deep"></div>
    <div class="parallax__layer parallax__layer--back">
      <!--<div id="orbit-two" class="spin-left-half"><div id="comet-red" class="pull-right"></div></div>
      <div id="orbit-three" class="spin-left-half-faster"><div id="comet-white"></div></div>--> 
    </div>
    <div class="parallax__layer parallax__layer--base"></div>
    <div class="parallax__layer parallax__layer--fore"><div id="BE-dboom"><div id="boomerang" class="spin-boomerang"></div></div></div>
  </div>
  <div id="loving-parallax-section" class="parallax__section">
    <div class="parallax__layer parallax__layer--base"><loving></loving></div>
  </div>
  <div id="third-image-section" class="parallax__section">
    <div class="parallax__layer parallax__layer--deep"></div>
    <div class="parallax__layer parallax__layer--back"></div>
    <div class="parallax__layer parallax__layer--base"></div>
    <div class="parallax__layer parallax__layer--fore"></div>
  </div>
  <div id="work-parallax-section" class="parallax__section">
    <div class="parallax__layer parallax__layer--base"><work></work></div>
  </div>
  <!--<div id="contact-image-section" class="parallax__section">
    <div class="parallax__layer parallax__layer--back"></div>
  </div>-->
  <div id="contact-parallax-section" class="parallax__section">
    <div class="parallax__layer parallax__layer--base"></div>
    <div class="parallax__layer parallax__layer--fore"><contact></contact></div>
  </div>
</div>