<header>

  <!-- ---------- -->
  <!-- TOP NAVBAR -->
  <!-- ---------- -->

  <div id="navbar" class="navbar navbar-custom">
    <div class="container custom-fluid-container">
      <div>
        <ul id="top-navbar-li" class="nav navbar-nav pull-right navbar-width" du-scroll-container="parallax-wrapper">
          <li><a id="about-link" href="#about" du-smooth-scroll du-scrollspy duration="2500"><span class="hidden-sm hidden-xs hidden-xxs hidden-tn">About&nbsp;&nbsp;</span><i id="about-icon" class="fa fa-fw fa-2x icon-dboom"></i></a></li>
          <li><a id="loving-link"href="#loving" du-smooth-scroll du-scrollspy duration="2500"><span class="hidden-sm hidden-xs hidden-xxs hidden-tn">Loving&nbsp;&nbsp;</span><i id="loving-icon" class="fa fa-fw fa-2x fa-heart"></i></a></li>
          <li><a id="work-link" href="#work" du-smooth-scroll du-scrollspy duration="2500"><span class="hidden-sm hidden-xs hidden-xxs hidden-tn">Work&nbsp;&nbsp;</span><i id="work-icon" class="fa fa-fw fa-2x fa-github"></i></a></li>
          <li><a id="contact-link" href="#contact" du-smooth-scroll du-scrollspy duration="2500"><span class="hidden-sm hidden-xs hidden-xxs hidden-tn">Contact&nbsp;&nbsp;</span><i id="contact-icon"class="fa fa-fw fa-2x fa-wechat"></i></a></li>
        </ul>
      </div>
    </div>
  </div>

</header>