<div id="head">
	<header>
        <nav id="navbar" class="navbar navbar-inverse hidden-xs" role="navigation">
		  <div class="container">
		    <div class="navbar-header">
		          <a class="navbar-brand btn-social btn-outline" href="#cover" du-smooth-scroll du-scrollspy><img src="/images/logo-orange.svg" alt=""></a>
		    </div>
		    <nav class="navbar-collapse bs-navbar-collapse collapse" role="navigation">
		        <ul class="nav navbar-nav pull-right">
		            <li><a href="#who-i-am" du-smooth-scroll du-scrollspy offset='90'>Who I am &nbsp;&nbsp;<i class="fa fa-fw fa-2x fa-chevron-circle-down"></i></a></li>
		            <li><a href="#what-i-like" du-smooth-scroll du-scrollspy offset='90'>What I like to do &nbsp;&nbsp;<i class="fa fa-fw fa-2x fa-heart"></i></a></li>
		            <li><a href="#what-ive-done" du-smooth-scroll du-scrollspy offset='90'>What I´ve done / Github &nbsp;&nbsp;<i class="fa fa-fw fa-2x fa-github"></i></a></li>
		            <li><a href="#what-ive-learnt" du-smooth-scroll du-scrollspy offset='90'>What I´ve learnt / CV &nbsp;&nbsp;<i class="fa fa-fw fa-2x fa-newspaper-o"></i></a></li>
		        </ul>
		    </nav>
		  </div>
		</nav>
		<nav id="responsive-navbar" class="navbar navbar-inverse navbar-fixed-top visible-xs" role="navigation">
		    <div class="container-fluid">
		         <!-- Brand and toggle get grouped for better mobile display -->
		        <div class="navbar-header">
		            <a class="navbar-brand btn-social btn-outline" href="#cover" du-smooth-scroll du-scrollspy><img src="/images/boomerang-orange-24.svg" alt=""></a>
		        </div>      
		    </div>
		    <!-- /.container -->
		</nav>
	</header><!-- /header -->
</div>    


