<a href="#remote-working" du-scrollspy></a>
<div id="remote-working">
	<div animated-section triggeredby="remote-working" triggeredon="active" animatedin="rubberBand" animatedout="jello">
	    <div class="animated-section">
	    	<div class="custom-fluid-container text-center">
				<blockquote>Creativiy arises when thought pulls apart the stipulated, its boundaries, its asumptions, its conditionings.</blockquote>
			</div>
	    </div>
	</div>
	<div animated-section id="lightbulb" triggeredby="remote-working" triggeredon="active" animatedin="zoomInDown" animatedout="zoomOut">
       	<div class="animated-section visibility-hidden"
        	style="-moz-animation-delay: 0.1s; -webkit-animation-delay: 0.1s; -ms-animation-delay: 0.1s;">
        	<img id="lightbulb-image" class="animated-section-img" src="/images/lightbulb.svg" alt="The Insight" title="The Insight"/>  
        </div>
	</div>
</div>